Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/AuthorizationWrapper/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/AuthorizationWrapper/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): uypdate
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Tabs/index.less
Due: stylelint, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Base/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.less
  packages/taro-fast-component/src/customComponents/ScaleBox/index.jsx
  packages/taro-fast-component/src/customComponents/ScaleBox/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ScaleBox/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/.eslintrc
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/.eslintrc
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/.eslintrc
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/.eslintrc
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/.eslintrc
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/.eslintrc
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/.eslintrc
  packages/taro-fast-rollup/package.json
Due: prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/.eslintrc
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/example/pages/ActionSheet/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ActivityIndicator/index.jsx
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/.eslintrc
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/.eslintrc
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/.eslintrc
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/.eslintrc
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/.eslintrc
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/.eslintrc
  packages/taro-fast-rollup/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
