Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.jsx
  packages/taro-fast-component/src/customComponents/CenterBox/index.jsx
  packages/taro-fast-component/src/customComponents/Footer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/example/pages/Avatar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/Collapse/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/index.less
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.less
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Collapse/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customComponents/ChannelPageBase/index.jsx
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/WebPage/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/WebPage/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/WebPageBase/index.jsx
  packages/taro-fast-framework/src/framework/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Action/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Basic/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ExtraComponent/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Form/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.jsx
  packages/simple-taro-fast-framework/src/news/Home/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/index.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.less
  packages/taro-fast-component/src/customComponents/Tabbar/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/index.less
  packages/taro-fast-component/src/customComponents/Tabbar/item.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/CheckBoxSelector/index.jsx
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Col/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Row/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
  packages/taro-fast-component/src/customComponents/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/RadioSelector/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/StepperItem/index.jsx
  packages/taro-fast-component/src/customComponents/Switch/index.jsx
  packages/taro-fast-component/src/customComponents/SwitchItem/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/index.less
  packages/taro-fast-component/src/customComponents/Tabbar/tabbarItem.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): tt
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/Home/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/Normal/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/Normal/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/Scroll/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/Scroll/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Badge/index.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.less
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/noticeBar.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.jsx
  packages/taro-fast-component/src/customComponents/ProgressBox/index.jsx
  packages/taro-fast-component/src/customComponents/ProgressItem/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/tabbarItem.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ChannelPageBase/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/ChannelPageBase/index.less
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/variableView/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.jsx
  packages/taro-fast-component/src/customComponents/Loading/index.less
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/Scroll/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.jsx
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.jsx
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/app.less
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/services/news.js
  packages/simple-taro-fast-framework/src/variableView/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/Normal/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/Scroll/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollLoad/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollLoad/index.jsx
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-component/src/customComponents/Card/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.less
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Col/index.less
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/ListCore/index.js
  packages/taro-fast-framework/src/framework/MultiPageCore/index.js
  packages/taro-fast-framework/src/framework/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ChannelPageBase/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/example/pages/Interact/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.jsx
  packages/taro-fast-component/src/customComponents/Empty/index.jsx
  packages/taro-fast-component/src/customComponents/Empty/index.less
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/MultiPageCore/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollLoad/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollLoad/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/Home/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/NormalMode/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/NormalMode/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/NormalView/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/NormalView/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollCustomPullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollCustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollMode/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollMode/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollView/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollView/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollCustomPullRefresh/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollCustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollLowerLoad/index.config.js
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollLowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollMode/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/ListCore/index.js
  packages/taro-fast-framework/src/framework/MultiPageCore/index.js
  packages/taro-fast-framework/src/framework/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/FixedBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/FixedBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollCustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollLowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.jsx
  packages/taro-fast-component/src/customComponents/FixedBox/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollCustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollCustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollLowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollPullRefresh/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/ActivityIndicator/index.less
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/framework/pages/Home/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/NormalMode/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/NormalMode/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/NormalView/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/NormalView/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollCustomPullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollCustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollLowerLoad/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollLowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollMode/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollMode/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollPullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollView/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollView/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/services/news.js
  packages/simple-taro-fast-framework/src/variableView/pages/ScrollMode/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
  packages/taro-fast-framework/src/framework/Base/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.less
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollMode/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollViewBasic/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollViewBasic/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollViewEmpty/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollViewEmpty/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollViewUpperBox/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollViewUpperBox/index.jsx
  packages/simple-taro-fast-framework/src/models/news.js
  packages/simple-taro-fast-framework/src/services/news.js
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/VariableView/ScrollViewUpperBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.less
  packages/simple-taro-fast-framework/src/example/pages/DataGrid/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Col/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write
