Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "npx eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(simple-taro-fast-framework): update
  lerna.json
Due: prettier --write

feat(taro-fast-common): adjust log tools
  packages/simple-taro-fast-framework/src/app.js
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-common/src/utils/log.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/models/schedulingControl.js
  packages/taro-fast-framework/src/utils/defaultSettingsSpecial.js
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(simple-taro-fast-framework): adjust log in console
  packages/taro-fast-framework/src/models/schedulingControl.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(simple-taro-fast-framework): update
  .vscode/settings.json
  .vscode/tasks.json
  cz.flag.json
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/customComponents/index.jsx
  packages/taro-fast-common/tsconfig.types.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-extra/tsconfig.types.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component-prism/tsconfig.types.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/tsconfig.types.json
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/utils/dva.js
  packages/taro-fast-framework/tsconfig.types.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): update
  cz.flag.json
  packages/simple-taro-fast-framework/.eslintrc
  packages/simple-taro-fast-framework/src/customComponents/CodeBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Color/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/GridBanner/Main/index.js
  packages/taro-fast-common/.eslintrc
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/customComponents/Notification/index.jsx
  packages/taro-fast-component-extra/.eslintrc
  packages/taro-fast-component-prism/.eslintrc
  packages/taro-fast-component/.eslintrc
  packages/taro-fast-framework/.eslintrc
  packages/taro-fast-rollup/.eslintrc
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  cz.flag.json
  packages/simple-taro-fast-framework/src/templateRemote/pages/ExchangePhone/Main/index.jsx
  packages/simple-taro-fast-framework/src/templateRemote/pages/SignInSilent/Main/index.jsx
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  pnpm-lock.yaml
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  cz.flag.json
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/example/pages/ProgressItem/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/templateRemote/pages/ExchangePhone/Main/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/utils/tips.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Link/index.jsx
  packages/taro-fast-component/src/customComponents/Popover/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/ScrollBox/ScrollBoxCore/index.jsx
  packages/taro-fast-component/src/customComponents/ScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Switch/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/utils/actionAssist.js
  packages/taro-fast-framework/src/utils/authority.js
  packages/taro-fast-framework/src/utils/configAssist.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
  packages/taro-fast-framework/src/utils/virtualRequest.js
  pnpm-lock.yaml
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  cz.flag.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/pathConfig.js
  packages/simple-taro-fast-framework/src/example/pages/Action/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Message/index.jsx
  packages/taro-fast-common/src/customComponents/Notification/index.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(taro-fast-common): update
  cz.flag.json
  packages/simple-taro-fast-framework/src/example/pages/Message/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(simple-taro-fast-framework): update
  cz.flag.json
  packages/simple-taro-fast-framework/config/index.js
  packages/simple-taro-fast-framework/package.json
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  cz.flag.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/config/rollupConfig.js
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/utils/core.js
  packages/taro-fast-common/src/utils/modelAssist.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/models/index.js
  packages/taro-fast-framework/src/utils/configAssist.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  .vscode/settings.json
  cz.flag.json
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/customComponents/ChannelPageBase/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home2/Main/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
  packages/taro-fast-framework/src/utils/virtualRequest.js
  pnpm-lock.yaml
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  cz.flag.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/utils/configAssist.js
  pnpm-lock.yaml
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  .vscode/settings.json
  cz.flag.json
  package.json
Due: prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(simple-taro-fast-framework): update
  .vscode/settings.json
  develop/assists/cz.flag.json
  package.json
Due: prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
Due: prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
  package.json
  packages/taro-fast-common/src/utils/constants.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
  package.json
Due: prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
  package.json
  packages/simple-taro-fast-framework/.lintstagedrc
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
  develop/assists/sleep.js
  package.json
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  .eslintignore
  .gitignore
  .prettierignore
  .vscode/settings.json
  develop/assists/cz.flag.json
  develop/assists/env.init.js
  packages/simple-taro-fast-framework/.eslintignore
  packages/simple-taro-fast-framework/.gitignore
  packages/simple-taro-fast-framework/.prettierignore
  packages/taro-fast-cli/.eslintignore
  packages/taro-fast-cli/.gitignore
  packages/taro-fast-cli/.prettierignore
  packages/taro-fast-common/.eslintignore
  packages/taro-fast-common/.gitignore
  packages/taro-fast-common/.prettierignore
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-component-extra/.eslintignore
  packages/taro-fast-component-extra/.gitignore
  packages/taro-fast-component-extra/.prettierignore
  packages/taro-fast-component-prism/.eslintignore
  packages/taro-fast-component-prism/.gitignore
  packages/taro-fast-component-prism/.prettierignore
  packages/taro-fast-component/.eslintignore
  packages/taro-fast-component/.gitignore
  packages/taro-fast-component/.prettierignore
  packages/taro-fast-framework/.eslintignore
  packages/taro-fast-framework/.gitignore
  packages/taro-fast-framework/.prettierignore
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
  develop/assists/cz.flag.refresh.js
  develop/assists/env.init.js
  develop/assists/sleep.js
  develop/config/eslint/config/index.js
  develop/config/eslint/rules/index.js
  develop/config/prettier/config/index.js
  develop/config/stylelint/config/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  develop/assists/cz.flag.json
  develop/config/eslint/config/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write
