Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): updat
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ThumbnailBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ThumbnailBox/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/Overlay/index.jsx
  packages/taro-fast-component/src/customComponents/ThumbnailBox/index.jsx
  packages/taro-fast-component/src/customComponents/ThumbnailBox/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Overlay/index.jsx
  packages/taro-fast-component/src/customComponents/Spin/index.jsx
  packages/taro-fast-component/src/customComponents/ThumbnailBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/Button/button.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/BackTop/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/BackTop/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/BackTop/index.jsx
  packages/taro-fast-component/src/customComponents/BackTop/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/BackTop/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/BackTop/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/config/index.js
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/BackTop/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/Home/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInState/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/Basic/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/CustomPullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/CustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoad/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoadSpecial/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/Basic/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/CustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/UpperBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.config.js
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.less
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/CustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/CustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefresh/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildInitialActivityIndicator/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoad/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/CustomPullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoad/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoad/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoadSpecial/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.less
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/index.jsx
  packages/taro-fast-component/src/customComponents/Divider/divider.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/CustomPullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefresh/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ChannelPageBase/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/CustomPullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefresh/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/Basic/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/Basic/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/UpperBox/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/UpperBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/Basic/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/Basic/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/UpperBox/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/UpperBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/customComponents/ChannelPageBase/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/index.jsx
  packages/taro-fast-common/src/utils/tips.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/services/news.js
  packages/simple-taro-fast-framework/src/utils/request.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): upadte
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.less
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
  packages/taro-fast-component/src/customComponents/Divider/divider.jsx
  packages/taro-fast-component/src/customComponents/Divider/index.less
  packages/taro-fast-component/src/customComponents/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/BackTop/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/UpperBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/BackTop/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Interact/Assist/action.js
  packages/simple-taro-fast-framework/src/example/pages/Interact/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Switch/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SwitchItem/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildInitialActivityIndicator/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/models/index.js
  packages/simple-taro-fast-framework/src/models/simulation.js
  packages/simple-taro-fast-framework/src/services/simulation.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Action/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Basic/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ExtraComponent/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Form/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.jsx
  packages/simple-taro-fast-framework/src/models/news.js
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/services/news.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Swiper/SwiperContext/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperItem/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperContext/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperItem/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write
