Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/assets/administrativeDivisionData - 副本.js
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
  packages/simple-taro-fast-framework/src/models/administrativeDivision.js
  packages/simple-taro-fast-framework/src/services/administrativeDivision.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Cascader/index.jsx
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
  packages/taro-fast-component/src/customComponents/Cascader/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/FullAdministrativeDivisionSelector/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/models/schedulingControl.js
  packages/taro-fast-framework/src/services/schedulingControl.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PageWrapperCore/index.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/FullAdministrativeDivisionSelector/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/services/schedulingControl.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/FullAdministrativeDivisionSelector/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Cascader/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Cascader/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-component): update
  packages/taro-fast-component/src/customComponents/Cascader/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/assets/administrativeDivisionData - 副本.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-common): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-common): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/FullAdministrativeDivisionSelector/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  .eslintignore
Due: none

refactor(taro-fast-common): update
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customComponents/PageWrapperCore/index.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): popover 扩展模式与配置项
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Popover/index.jsx
  packages/taro-fast-component/src/customComponents/Popover/index.jsx
  packages/taro-fast-component/src/customComponents/Popover/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): add app config weatherApi
  packages/simple-taro-fast-framework/project.private.config.json
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-framework/src/services/schedulingControl.js
  packages/taro-fast-framework/src/utils/defaultSettingsSpecial.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-common): adjust file scema
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customConfig/pathConfig.js
  packages/simple-taro-fast-framework/src/example/pages/Action/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Basic/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ExtraComponent/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Form/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExecuteFlow/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/BasePageWrapper/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home2/Main/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/services/simulation.js
  packages/simple-taro-fast-framework/src/template/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/templateRemote/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/utils/request.js
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-framework/project.config.json
  packages/taro-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write
