Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/config/index.js
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/pages/Home/Assist/action.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/sitemap.json
  packages/taro-fast-common/src/utils/cacheAssist.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/config/index.js
  packages/taro-fast-framework/src/customComponents/AppComponent/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/utils/actionAssist.js
  packages/taro-fast-framework/src/utils/authority.js
  packages/taro-fast-framework/src/utils/dva.js
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/pages/Home/Assist/action.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/config/rollupConfig.js
  packages/taro-fast-common/package.json
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/src/customComponents/ActivityIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/ActivityIndicator/index.less
  packages/taro-fast-component/src/customComponents/Loading/index.jsx
  packages/taro-fast-component/src/customComponents/Loading/index.less
  packages/taro-fast-component/src/customComponents/Spin/index.jsx
  packages/taro-fast-component/src/customComponents/Spin/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-rollup/.browserslistrc
  packages/taro-fast-rollup/.editorconfig
  packages/taro-fast-rollup/.eslintrc
  packages/taro-fast-rollup/.gitignore
  packages/taro-fast-rollup/.ncurc.json
  packages/taro-fast-rollup/.prettierignore
  packages/taro-fast-rollup/.prettierrc
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/README.md
  packages/taro-fast-rollup/babel.config.js
  packages/taro-fast-rollup/jsconfig.json
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
  packages/taro-fast-rollup/tsconfig.json
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/assets/empty-icon.svg
  packages/taro-fast-component/src/customComponents/AutoCenter/index.jsx
  packages/taro-fast-component/src/customComponents/AutoCenter/index.less
  packages/taro-fast-component/src/customComponents/BlockArea/index.jsx
  packages/taro-fast-component/src/customComponents/BlockArea/index.less
  packages/taro-fast-component/src/customComponents/Empty/index.jsx
  packages/taro-fast-component/src/customComponents/Empty/index.less
  packages/taro-fast-component/src/customComponents/Flex/Col/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Col/index.less
  packages/taro-fast-component/src/customComponents/Flex/Row/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Row/index.less
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/customComponents/Space/index.less
  packages/taro-fast-component/src/customComponents/Spin/index.jsx
  packages/taro-fast-component/src/customComponents/Spin/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/utils/tools.js
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/AutoCenter/index.jsx
  packages/taro-fast-component/src/customComponents/Empty/index.jsx
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/utils/tools.js
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/src/customComponents/AdvanceButton/index.jsx
  packages/taro-fast-framework/src/customComponents/AdvanceButton/index.less
  packages/taro-fast-framework/src/customComponents/index.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/functionComponent/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/BlockArea/index.less
  packages/taro-fast-component/src/customComponents/Empty/index.less
  packages/taro-fast-component/src/customComponents/Spin/index.jsx
  packages/taro-fast-component/src/customComponents/Spin/index.less
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
  packages/taro-fast-component/src/customComponents/global.less
  packages/taro-fast-framework/src/customComponents/AdvanceButton/index.jsx
  packages/taro-fast-framework/src/customComponents/AdvanceButton/index.less
  packages/taro-fast-framework/src/customComponents/global.less
  packages/taro-fast-framework/src/functionComponent/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/src/customComponents/AdvanceButton/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceButton/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/functionComponent/index.jsx
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/src/customComponents/global.less
  packages/taro-fast-framework/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceButton/index.jsx
  packages/taro-fast-component/src/customComponents/Avatar/index.jsx
  packages/taro-fast-component/src/customComponents/Avatar/index.less
  packages/taro-fast-component/src/customComponents/Badge/index.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.less
  packages/taro-fast-component/src/customComponents/Flex/Col/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Col/index.less
  packages/taro-fast-component/src/customComponents/Spin/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/config/rollupConfig.js
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/customComponents/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/src/customComponents/Avatar/index.jsx
  packages/taro-fast-component/src/customComponents/Empty/index.jsx
  packages/taro-fast-component/src/customComponents/FadeView/index.jsx
  packages/taro-fast-component/src/customComponents/FadeView/index.less
  packages/taro-fast-component/src/customComponents/Flex/Col/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Row/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.less
  packages/taro-fast-component/src/customComponents/Loading/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/index.less
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/utils/tools.js
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceButton/index.less
  packages/taro-fast-component/src/customComponents/AutoCenter/index.jsx
  packages/taro-fast-component/src/customComponents/CenterBox/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Col/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Col/index.less
  packages/taro-fast-component/src/customComponents/Flex/Row/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.less
  packages/taro-fast-component/src/customComponents/global.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Icon/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/index.less
  packages/taro-fast-component/src/customComponents/NoticeBar/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Avatar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Steps/index.jsx
  packages/taro-fast-component/src/customComponents/Steps/index.less
  packages/taro-fast-component/src/customComponents/Steps/step.jsx
  packages/taro-fast-component/src/customComponents/Steps/steps.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AutoCenter/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Avatar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Button/Assist/action.js
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Divider/index.jsx
  packages/taro-fast-component/src/customComponents/Divider/index.less
  packages/taro-fast-component/src/customComponents/Icon/config.js
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/Icon/icons.jsx
  packages/taro-fast-component/src/customComponents/Icon/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/config/rollupConfig.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/config/rollupConfig.js
  packages/taro-fast-common/src/utils/hooks.js
  packages/taro-fast-common/src/utils/provider.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Tag/index.jsx
  packages/taro-fast-component/src/customComponents/Tag/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Avatar/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Avatar/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/Tag/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/config.js
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/config/rollupConfig.js
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-framework/config/rollupConfig.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/AutoCenter/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Avatar/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Button/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.config.js
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/more.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/noticeBar.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceButton/Assist/action.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceButton/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceButton/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/Button/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/index.less
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/functionComponent/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/AdvanceSwitch/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceSwitch/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceSwitch/advanceSwitch.jsx
  packages/taro-fast-component/src/customComponents/AdvanceSwitch/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceSwitch/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgress/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgressBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceProgress/advanceProgress.jsx
  packages/taro-fast-component/src/customComponents/AdvanceProgress/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceProgressBox/advanceProgressBox.jsx
  packages/taro-fast-component/src/customComponents/AdvanceProgressBox/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Notification/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Notification/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/customComponents/Notification/index.jsx
  packages/taro-fast-common/src/customComponents/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/more.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/noticeBar.jsx
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
