Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/SwiperWrapper/SwiperIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/SwiperWrapper/index.jsx
  packages/taro-fast-component/src/customComponents/SwiperWrapper/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/SwiperWrapper/SwiperIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/SwiperWrapper/index.jsx
  packages/taro-fast-component/src/customComponents/SwiperWrapper/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/SwiperWrapper/SwiperAdapter/index.jsx
  packages/taro-fast-component/src/customComponents/SwiperWrapper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/SwiperWrapper/SwiperAdapter/index.jsx
  packages/taro-fast-component/src/customComponents/SwiperWrapper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-cli): update
  packages/taro-fast-component/src/customComponents/Popover/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Popover/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.js
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/SwiperWrapper/index.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update dependences
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
Due: prettier --write

update
  .vscode/settings.json
  packages/taro-fast-cli/.eslintrc
  packages/taro-fast-cli/bin/cli-init.js
  packages/taro-fast-cli/bin/cli.js
  packages/taro-fast-cli/package.json
  packages/taro-fast-cli/src/clear.js
  packages/taro-fast-cli/src/env.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-cli/.eslintrc
Due: none

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): updat
  packages/taro-fast-cli/lib/taro-fast-cli.js
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-cli/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-framework/src/framework/AuthorizationWrapper/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
