Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-cli): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/templateRemote/pages/GetCustomer/Main/index.jsx
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): udate
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/assets/images/loading-balls.svg
  packages/simple-taro-fast-framework/src/assets/images/loading-bars.svg
  packages/simple-taro-fast-framework/src/assets/images/loading-bubbles.svg
  packages/simple-taro-fast-framework/src/assets/images/loading-cubes.svg
  packages/simple-taro-fast-framework/src/assets/images/loading-cylon-red.svg
  packages/simple-taro-fast-framework/src/assets/images/loading-cylon.svg
  packages/simple-taro-fast-framework/src/assets/images/loading-spin.svg
  packages/simple-taro-fast-framework/src/assets/images/loading-spinning-bubbles.svg
  packages/simple-taro-fast-framework/src/assets/images/loading-spokes.svg
  packages/simple-taro-fast-framework/src/customConfig/pathConfig.js
  packages/simple-taro-fast-framework/src/template/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Loading/Main/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallClipRotate/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallClipRotate/index.less
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallGridBeat/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallGridBeat/index.less
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallGridPulse/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallGridPulse/index.less
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallPulse/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallPulse/index.less
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallScale/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallScale/index.less
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallScaleMultiple/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallScaleMultiple/index.less
  packages/simple-taro-fast-framework/src/template/pages/Loading/Main/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallGridBeat/index.less
  packages/simple-taro-fast-framework/src/template/pages/Loading/BallGridPulse/index.less
  packages/simple-taro-fast-framework/src/template/pages/Loading/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Spin/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/template/pages/Loading/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Spin/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-cli): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): udate
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
