Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/HorizontalScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-component/src/customComponents/HorizontalScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.less
  packages/taro-fast-component/src/customComponents/HorizontalScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/Basic/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/Basic/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/UpperBox/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ScrollBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-component/src/customComponents/ScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/panel.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-component/src/customComponents/ScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/panel.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): daupte
  packages/simple-taro-fast-framework/config/index.js
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/simple-taro-fast-framework/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/ScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Link/index.jsx
  packages/taro-fast-component/src/customComponents/Link/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): uopdate
  packages/simple-taro-fast-framework/src/customComponents/PropertyBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Link/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Color/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Line/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/More/index.jsx
  packages/taro-fast-component/src/customComponents/CenterBox/index.jsx
  packages/taro-fast-component/src/customComponents/Ellipsis/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-cli): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/ActivityIndicator/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/example/pages/ActivityIndicator/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Avatar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/customComponents/PropertyBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ActivityIndicator/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Avatar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HorizontalCenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HtmlBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Line/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Link/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/More/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Progress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/taro-fast-component/src/customComponents/Ellipsis/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .prettierignore
  babel.config.js
  packages/simple-taro-fast-framework/config/dev.js
  packages/simple-taro-fast-framework/src/index.html
  packages/taro-fast-cli/bin/cli-init.js
  packages/taro-fast-cli/lib/taro-fast-cli.js
  packages/taro-fast-common/src/utils/mediaDefault.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Steps/index.less
Due: stylelint, prettier --write

perf(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Steps/step.jsx
  packages/taro-fast-component/src/customComponents/Steps/steps.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Footer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Footer/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write
