Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/NoticeBar/index.less
  packages/taro-fast-component/src/customComponents/Tabs/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/panel.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/package.json
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.jsx
  packages/taro-fast-component/src/customComponents/Divider/divider.jsx
  packages/taro-fast-component/src/customComponents/Divider/index.jsx
  packages/taro-fast-component/src/customComponents/Tag/index.jsx
  packages/taro-fast-component/src/customComponents/Tag/index.less
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/taro-fast-component-extra/config/rollupConfig.js
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/src/customComponents/Tag/index.jsx
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.less
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/customComponents/Notification/index.jsx
  packages/taro-fast-component/src/customComponents/Transition/index.jsx
  packages/taro-fast-component/src/customComponents/Transition/index.less
  packages/taro-fast-component/src/customComponents/Transition/tools.js
  packages/taro-fast-component/src/customComponents/Transition/transition.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/List/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/List/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Icon/config.js
  packages/taro-fast-component-extra/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component-extra/src/customComponents/Icon/icons.jsx
  packages/taro-fast-component-extra/src/customComponents/Icon/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Icon/index.less
  packages/taro-fast-component-extra/src/customComponents/Selector/index.less
  packages/taro-fast-component-extra/src/customComponents/index.jsx
  packages/taro-fast-component/src/assets/downArrow.svg
  packages/taro-fast-component/src/assets/rightArrow.svg
  packages/taro-fast-component/src/assets/topArrow.svg
  packages/taro-fast-component/src/customComponents/List/index.jsx
  packages/taro-fast-component/src/customComponents/List/index.less
  packages/taro-fast-component/src/customComponents/List/item.jsx
  packages/taro-fast-component/src/customComponents/List/list.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/List/index.jsx
  packages/taro-fast-component/src/customComponents/List/index.less
  packages/taro-fast-component/src/customComponents/List/item.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.less
  packages/simple-taro-fast-framework/src/example/pages/Popup/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Popup/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Popup/index.less
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Overlay/index.jsx
  packages/taro-fast-component/src/customComponents/Overlay/index.less
  packages/taro-fast-component/src/customComponents/Overlay/tools.js
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.less
  packages/taro-fast-component/src/customComponents/Transition/tools.js
  packages/taro-fast-component/src/customComponents/Transition/transition.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/utils/tools.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-rollup/src/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Circle/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Circle/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Circle/index.less
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Circle/index.less
  packages/taro-fast-component-extra/src/customComponents/index.jsx
  packages/taro-fast-component/src/customComponents/List/index.less
  packages/taro-fast-component/src/customComponents/List/item.jsx
  packages/taro-fast-component/src/customComponents/Tabs/panel.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/Notification/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.jsx
  packages/taro-fast-component/src/customComponents/Transition/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Ellipsis/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/index.less
  packages/taro-fast-component/src/customComponents/NoticeBar/more.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/functionComponent/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceButton/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/List/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Selector/selector.jsx
  packages/taro-fast-component-extra/src/customComponents/index.jsx
  packages/taro-fast-component/src/assets/downArrow.svg
  packages/taro-fast-component/src/assets/empty-icon.svg
  packages/taro-fast-component/src/assets/rightArrow.svg
  packages/taro-fast-component/src/assets/topArrow.svg
  packages/taro-fast-component/src/customComponents/Empty/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/config.js
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/Icon/icons.jsx
  packages/taro-fast-component/src/customComponents/Icon/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/index.less
  packages/taro-fast-component/src/customComponents/List/item.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/more.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-extra/src/customComponents/Selector/index.less
  packages/taro-fast-component-extra/src/customComponents/Selector/selector.jsx
  packages/taro-fast-component/src/customComponents/List/item.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/radio.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/typeConvert.js
  packages/taro-fast-component/src/customComponents/Radio/radio.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Circle/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component/src/customComponents/CenterBox/index.jsx
  packages/taro-fast-component/src/customComponents/HorizontalCenterBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/radio.jsx
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/radio.jsx
  packages/taro-fast-component/src/customComponents/Radio/tools.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): add component ColorText
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/functionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/src/customComponents/Circle/index.less
  packages/taro-fast-component/src/customComponents/Countdown/index.jsx
  packages/taro-fast-component/src/customComponents/Countdown/index.less
  packages/taro-fast-component/src/customComponents/Countdown/item.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  packages/taro-fast-component/src/customComponents/Countdown/index.jsx
  packages/taro-fast-component/src/customComponents/Countdown/index.less
  packages/taro-fast-component/src/customComponents/Countdown/item.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Countdown/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
  packages/taro-fast-component/src/customComponents/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/HelpBox/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Price/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Price/index.jsx
  packages/taro-fast-component/src/customComponents/Price/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Copyright/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Copyright/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Copyright/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.less
  packages/taro-fast-component/src/customComponents/Price/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write
