Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, npx prettier --cache --parser=typescript --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
  examples/simple-taro-fast-framework/src/news/pages/Home/Main/index.jsx
  examples/simple-taro-fast-framework/src/news/pages/Home2/Main/index.jsx
  examples/simple-taro-fast-framework/src/services/simulation.js
  examples/simple-template/CHANGELOG.md
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/modelBuilders/general/flowCase.js
  examples/simple-template/src/pages/flowCase/assist/tools.js
  examples/simple-template/src/pages/flowCase/main/index.jsx
  examples/simple-template/src/services/flowCase.js
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/utils/meta.js
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/Avatar/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.less
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/utils/effectiveCodeAssist.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-taro-fast-framework/src/customComponents/PageWrapperRemote/index.js
  examples/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/general/constants.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCase.js
  examples/simple-template/src/customer/pages/approve/assist/tools.js
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/modelBuilders/general/flowCase.js
  examples/simple-template/src/pages/flowCase/assist/tools.js
  examples/simple-template/src/pages/flowCase/main/index.jsx
  examples/simple-template/src/services/flowCase.js
  packages/taro-fast-common/src/utils/mediaDefault.js
  packages/taro-fast-component/src/customComponents/Steps/index.less
  packages/taro-fast-component/src/customComponents/Steps/step.jsx
  packages/taro-fast-component/src/customComponents/Steps/steps.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/src/example/pages/ActionSheet/ActionSheetExtraSimple/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/ActionSheet/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/FixedBox/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Modal/ModelExtraSimple/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Modal/index.jsx
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/project.config.json
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customer/pages/approve/assist/action.js
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/modelBuilders/general/flowCase.js
  examples/simple-template/src/services/flowCase.js
  packages/taro-fast-common/src/customComponents/AbstractComponent/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/MultiLineText/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/src/components/ActionSheetExtra/index.jsx
  packages/taro-fast-framework/src/components/ModalExtra/index.jsx
  packages/taro-fast-framework/src/components/index.jsx
  packages/taro-fast-framework/src/framework/ActionSheetBase/index.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/framework/InteractiveBase/index.jsx
  packages/taro-fast-framework/src/framework/ModalBase/index.jsx
  packages/taro-fast-framework/src/framework/index.jsx
  packages/taro-fast-framework/src/index.jsx
  packages/taro-fast-framework/src/modelBuilders/index.js
  packages/taro-fast-framework/src/modelBuilders/schedulingControl.js
  packages/taro-fast-framework/src/modelBuilders/switchControl.js
  packages/taro-fast-framework/src/models/index.js
  packages/taro-fast-framework/src/utils/index.js
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/src/utils/switchControlAssist.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/customer/pages/approve/submitModal/index.jsx
  packages/taro-fast-framework/src/utils/actionAssist.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/src/example/pages/ActionSheet/ActionSheetExtraSimple/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/ActionSheet/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Modal/ModelExtraSimple/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Popup/PopupExtraSimple/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Popup/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Popup/tools.jsx
  examples/simple-template/src/customer/pages/approve/approvePopup/index.jsx
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/pages/flowCase/assist/tools.js
  examples/simple-template/src/pages/flowCase/main/index.jsx
  package.json
  packages/taro-fast-component/src/customComponents/Modal/index.jsx
  packages/taro-fast-component/src/customComponents/Overlay/index.jsx
  packages/taro-fast-framework/src/components/ModalExtra/index.jsx
  packages/taro-fast-framework/src/components/PopupExtra/index.jsx
  packages/taro-fast-framework/src/components/index.jsx
  packages/taro-fast-framework/src/framework/index.jsx
  packages/taro-fast-framework/src/index.jsx
  packages/taro-fast-framework/src/interactiveWrappers/ActionSheetWrapperBase/index.jsx
  packages/taro-fast-framework/src/interactiveWrappers/InteractiveBase/index.jsx
  packages/taro-fast-framework/src/interactiveWrappers/InteractiveCancelableBase/index.jsx
  packages/taro-fast-framework/src/interactiveWrappers/InteractiveCloseableBase/index.jsx
  packages/taro-fast-framework/src/interactiveWrappers/ModalWrapperBase/index.jsx
  packages/taro-fast-framework/src/interactiveWrappers/PopupWrapperBase/index.jsx
  packages/taro-fast-framework/src/interactiveWrappers/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/src/customer/pages/approve/approvePopup/index.jsx
  examples/simple-template/src/customer/pages/approve/assist/action.js
  examples/simple-template/src/customer/pages/approve/assist/tools.js
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/modelBuilders/custom/flowCase.js
  examples/simple-template/src/modelBuilders/custom/index.js
  examples/simple-template/src/modelBuilders/general/index.js
  examples/simple-template/src/services/flowCase.js
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/constant.js
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/src/templateRemote/pages/GetCustomer/Main/index.jsx
  examples/simple-taro-fast-framework/src/utils/tools.js
  examples/simple-template/project.config.json
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/general/constants.js
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/pages/customer/main/index.jsx
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-component/src/customComponents/Flex/Row/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/utils/currentCustomerAssist.js
  packages/taro-fast-framework/src/utils/index.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/src/app.config.js
  examples/simple-taro-fast-framework/src/customConfig/pathConfig.js
  examples/simple-taro-fast-framework/src/example/pages/Action/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/ImagePicker/index.config.js
  examples/simple-taro-fast-framework/src/example/pages/ImagePicker/index.jsx
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/general/pathConfig.js
  examples/simple-template/src/customer/pages/changePassword/assist/action.js
  examples/simple-template/src/customer/pages/changePassword/main/index.jsx
  examples/simple-template/src/customer/pages/editInformation/assist/action.js
  examples/simple-template/src/customer/pages/editInformation/assist/tools.js
  examples/simple-template/src/customer/pages/editInformation/main/index.jsx
  examples/simple-template/src/customer/pages/signIn/main/index.jsx
  examples/simple-template/src/customer/pages/signInWithWeChat/main/index.jsx
  examples/simple-template/src/modelBuilders/general/customer.js
  examples/simple-template/src/pages/customer/main/index.jsx
  examples/simple-template/src/pages/customer/main/index.less
  examples/simple-template/src/services/customer.js
  packages/taro-fast-common/src/utils/taroAssist.js
  packages/taro-fast-component/src/customComponents/ImagePicker/index.jsx
  packages/taro-fast-component/src/customComponents/ImagePicker/index.less
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/app.global.less
  examples/simple-template/src/assets/tab-bar/user-active.png
  examples/simple-template/src/assets/tab-bar/user.png
  examples/simple-template/src/assets/tab-bar/workbench-active.png
  examples/simple-template/src/assets/tab-bar/workbench.png
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customer/pages/pageListCreateApprove/main/index.jsx
  examples/simple-template/src/customer/pages/pageListLatestApprove/main/index.jsx
  examples/simple-template/src/customer/pages/pageListWaitApprove/main/index.jsx
  examples/simple-template/src/modelBuilders/custom/index.js
  examples/simple-template/src/modelBuilders/custom/workbench.js
  examples/simple-template/src/pages/home/assist/constant.js
  examples/simple-template/src/pages/home/assist/index.jsx
  examples/simple-template/src/pages/home/assist/tools.js
  examples/simple-template/src/pages/home/main/index.jsx
  examples/simple-template/src/services/workbench.js
  packages/taro-fast-common/src/utils/taroAssist.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customComponents/general/PageWrapper/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/custom/fieldDataCollection/fieldDataNotice.js
  examples/simple-template/src/customConfig/custom/fieldDataCollection/index.js
  examples/simple-template/src/customConfig/custom/pathConfig.js
  examples/simple-template/src/customConfig/general/constants.js
  examples/simple-template/src/customConfig/general/pathConfig.js
  examples/simple-template/src/information/pages/noticeDetail/main/index.jsx
  examples/simple-template/src/information/pages/pageListNotice/assist/tools.jsx
  examples/simple-template/src/information/pages/pageListNotice/main/index.jsx
  examples/simple-template/src/modelBuilders/custom/index.js
  examples/simple-template/src/modelBuilders/custom/notice.js
  examples/simple-template/src/pages/home/assist/tools.js
  examples/simple-template/src/pages/home/main/index.jsx
  examples/simple-template/src/services/notice.js
  examples/simple-template/src/utils/custom/builds/flowCase.jsx
  examples/simple-template/src/utils/general/tools.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/project.config.json
  examples/simple-template/src/customer/pages/resetPassword/main/index.jsx
  examples/simple-template/src/customer/pages/signIn/main/index.jsx
  packages/taro-fast-common/src/utils/hooks.js
  packages/taro-fast-component/src/customComponents/ImagePicker/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/Transition/tools.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/customer/pages/editInformation/main/index.jsx
  examples/simple-template/src/customer/pages/pageListCreateApprove/main/index.jsx
  examples/simple-template/src/customer/pages/pageListLatestApprove/main/index.jsx
  examples/simple-template/src/customer/pages/pageListWaitApprove/main/index.jsx
  examples/simple-template/src/pages/customer/main/index.jsx
  examples/simple-template/src/pages/flowCase/main/index.jsx
  examples/simple-template/src/pages/home/assist/tools.js
  examples/simple-template/src/pages/home/main/index.jsx
  examples/simple-template/src/utils/custom/builds/common.js
  examples/simple-template/src/utils/custom/builds/flowCase.jsx
  examples/simple-template/src/utils/custom/builds/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/communication/pages/singleListAddressBook/assist/tools.jsx
  examples/simple-template/src/communication/pages/singleListAddressBook/main/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/custom/pathConfig.js
  examples/simple-template/src/information/pages/pageListNotice/main/index.jsx
  examples/simple-template/src/modelBuilders/custom/addressBook.js
  examples/simple-template/src/modelBuilders/custom/index.js
  examples/simple-template/src/pages/customer/main/index.jsx
  examples/simple-template/src/pages/home/assist/tools.js
  examples/simple-template/src/pages/home/main/index.jsx
  examples/simple-template/src/services/addressBook.js
  packages/taro-fast-common/src/utils/taroAssist.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.jsx
  examples/simple-taro-fast-framework/src/customComponents/ContentPageWrapper/index.jsx
  examples/simple-taro-fast-framework/src/customComponents/PropertyInteractiveBox/index.jsx
  examples/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  examples/simple-taro-fast-framework/src/customComponents/index.jsx
  examples/simple-taro-fast-framework/src/customConfig/constants.js
  examples/simple-taro-fast-framework/src/example/pages/AngleBox/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/AngleBox/tools.js
  examples/simple-taro-fast-framework/src/example/pages/Avatar/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Avatar/tools.js
  examples/simple-taro-fast-framework/src/utils/tools.js
  examples/simple-template/package.json
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/pages/home/assist/tools.js
  examples/simple-template/src/pages/home/main/index.jsx
  package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-common/src/utils/taroAssist.js
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/AngleBox/index.jsx
  packages/taro-fast-component/src/customComponents/Avatar/index.jsx
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customConfig/custom/pathConfig.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCase.js
  examples/simple-template/src/customer/pageBases/BaseFlowCaseDetail/index.jsx
  examples/simple-template/src/customer/pageBases/index.jsx
  examples/simple-template/src/customer/pages/approve/assist/action.js
  examples/simple-template/src/customer/pages/approve/common/data.js
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/customer/pages/detailFlowCase/main/index.jsx
  examples/simple-template/src/customer/utils/index.jsx
  examples/simple-template/src/customer/utils/tools.flowCase.jsx
  examples/simple-template/src/customer/utils/tools.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  .vscode/settings.json
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.jsx
  examples/simple-taro-fast-framework/src/customComponents/ContentPageWrapper/index.jsx
  examples/simple-taro-fast-framework/src/customComponents/PropertyInteractiveBox/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/ActivityIndicator/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/ActivityIndicator/tools.js
  examples/simple-taro-fast-framework/src/example/pages/AngleBox/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Avatar/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Avatar/tools.js
  examples/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Loading/tools.js
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/custom/pathConfig.js
  examples/simple-template/src/customConfig/general/constants.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCase.js
  examples/simple-template/src/customer/pageBases/BaseFlowCaseDetail/index.jsx
  examples/simple-template/src/customer/pages/editInformation/main/index.jsx
  examples/simple-template/src/customer/pages/setting/assist/action.js
  examples/simple-template/src/customer/pages/setting/assist/tools.js
  examples/simple-template/src/customer/pages/setting/main/index.jsx
  examples/simple-template/src/modelBuilders/general/customer.js
  examples/simple-template/src/pages/customer/main/index.jsx
  examples/simple-template/src/pages/home/assist/tools.js
  examples/simple-template/src/pages/home/main/index.jsx
  examples/simple-template/src/services/customer.js
  packages/taro-fast-common/src/utils/taroAssist.js
  packages/taro-fast-component/src/customComponents/ActivityIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/Loading/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
  examples/simple-template/project.config.json
  examples/simple-template/src/customer/customComponents/FilePreviewPopup/index.jsx
  examples/simple-template/src/customer/customComponents/index.jsx
  examples/simple-template/src/customer/pageBases/BaseFlowCaseDetail/index.jsx
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/customer/pages/changePassword/main/index.jsx
  examples/simple-template/src/customer/pages/detailFlowCase/main/index.jsx
  examples/simple-template/src/customer/pages/editInformation/main/index.jsx
  examples/simple-template/src/customer/pages/setAvatar/main/index.jsx
  examples/simple-template/src/customer/pages/setting/main/index.jsx
  examples/simple-template/src/information/pages/noticeDetail/main/index.jsx
  examples/simple-template/src/pages/flowCase/main/index.jsx
  examples/simple-template/src/pages/home/assist/tools.js
  examples/simple-template/src/utils/custom/builds/common.js
  examples/simple-template/src/utils/custom/builds/flowCase.jsx
  examples/simple-template/src/utils/general/tools.jsx
  packages/taro-fast-common/src/utils/taroAssist.js
  packages/taro-fast-component/src/customComponents/SwitchItem/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineApply/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineApprove/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineAttention/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineItem/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineRemark/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/constant.js
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/src/example/pages/Line/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Line/tools.js
  examples/simple-taro-fast-framework/src/example/pages/Link/tools.js
  examples/simple-template/project.config.json
  examples/simple-template/src/information/pages/noticeDetail/main/index.jsx
  examples/simple-template/src/information/pages/pageListNotice/assist/tools.jsx
  packages/taro-fast-common/src/utils/styleAssist.js
  packages/taro-fast-component/src/customComponents/Line/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-taro-fast-framework/src/example/pages/AngleBox/tools.js
  examples/simple-taro-fast-framework/src/example/pages/Button/tools.js
  examples/simple-taro-fast-framework/src/example/pages/Link/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Link/tools.js
  examples/simple-template/project.config.json
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/pages/home/assist/tools.js
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/Link/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/project.config.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/config/ncu/config/index.js
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/src/template/pages/Loading/BallPulse/index.less
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customer/pages/changePassword/main/index.jsx
  examples/simple-template/src/customer/pages/signIn/main/index.jsx
  package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/package.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customer/pages/signIn/main/index.jsx
  package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/config/develop.subPath.publish.json
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/config/develop.subPath.publish.json
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customConfig/general/pathConfig.js
  examples/simple-template/src/customer/customComponents/SignOutActionSheet/index.jsx
  examples/simple-template/src/customer/customComponents/index.jsx
  examples/simple-template/src/customer/pages/security/assist/action.js
  examples/simple-template/src/customer/pages/security/main/index.jsx
  examples/simple-template/src/modelBuilders/general/entrance.js
  examples/simple-template/src/pages/customer/main/index.jsx
  examples/simple-template/src/services/entrance.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/src/customer/customComponents/GenderActionSheet/index.jsx
  examples/simple-template/src/customer/customComponents/SignOutActionSheet/index.jsx
  examples/simple-template/src/customer/pages/security/main/index.jsx
  examples/simple-template/src/customer/pages/setAvatar/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-taro-fast-framework/src/app.config.js
  examples/simple-taro-fast-framework/src/customConfig/pathConfig.js
  examples/simple-taro-fast-framework/src/example/pages/CheckBoxPopup/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Form/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/RadioPopup/index.jsx
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/CheckBoxPopup/index.jsx
  packages/taro-fast-component/src/customComponents/RadioPopup/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-taro-fast-framework/src/example/pages/RadioPopup/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/RadioSelector/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  packages/taro-fast-config/package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/project.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customer/pageBases/BaseFlowCaseDetail/index.jsx
  examples/simple-template/src/customer/pages/signIn/main/index.jsx
  examples/simple-template/src/information/pages/noticeDetail/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  npx prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less,scss})
  npx eslint --ext .js,.jsx,.ts,.tsx: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: **/*.{js,jsx,ts,tsx})
  stylelint: (any of: *.{css,less,scss}) or (any of: **/*.less)
  npx prettier --cache --parser=typescript --write: any of: *.{ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
