Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "npx eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

docs(simple-taro-fast-framework): update
  lerna.json
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

style(simple-taro-fast-framework): update
  .gitignore
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

style(simple-taro-fast-framework): update
  .gitignore
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
Due: prettier --write

fix(taro-fast-common): 调整兼容性
  packages/taro-fast-common/src/utils/core.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/.prettierrc.js
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(simple-taro-fast-framework): update
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(simple-taro-fast-framework): adjust webpage on h5
  packages/taro-fast-framework/src/framework/WebPageBase/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(simple-taro-fast-framework): adjust web page render with h5
  packages/taro-fast-framework/src/framework/WebPageBase/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.private.config.json
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/src/customComponents/Selector/index.less
  packages/taro-fast-component-extra/src/customComponents/Selector/selector.jsx
  packages/taro-fast-component/src/customComponents/ActivityIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/Transition/transition.jsx
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.less
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Transition/transition.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.less
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): adjust dstyle
  packages/taro-fast-component/src/customComponents/Loading/index.jsx
  packages/taro-fast-component/src/customComponents/Loading/index.less
  packages/taro-fast-component/src/customComponents/Modal/index.jsx
  packages/taro-fast-component/src/customComponents/Modal/index.less
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): adjust style
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Modal/index.jsx
  packages/taro-fast-component/src/customComponents/Modal/index.less
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): adjust style
  packages/taro-fast-component/src/customComponents/Steps/index.less
  packages/taro-fast-component/src/customComponents/Steps/step.jsx
  packages/taro-fast-component/src/customComponents/Steps/steps.jsx
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): adjust style
  packages/taro-fast-component/src/customComponents/Tabbar/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/index.less
  packages/taro-fast-component/src/customComponents/Tabbar/tabbarItem.jsx
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  packages/taro-fast-common/src/index.ts
  packages/taro-fast-component-extra/src/index.ts
  packages/taro-fast-component-prism/src/index.ts
  packages/taro-fast-component/src/index.ts
  packages/taro-fast-dva/src/index.ts
  packages/taro-fast-framework/src/index.ts
  packages/taro-fast-rollup/src/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(simple-taro-fast-framework): adjust style
  packages/simple-taro-fast-framework/project.config.json
  packages/taro-fast-component/src/customComponents/BackTop/index.jsx
  packages/taro-fast-component/src/customComponents/BackTop/index.less
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/taro-fast-component/src/customComponents/Badge/index.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.less
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/Button/tools.js
Due: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): adjust style
  .markdownlint.json
  .vscode/settings.json
  packages/simple-taro-fast-framework/CHANGELOG.md
Due: prettier --write

feat(taro-fast-common): adjust style
  packages/taro-fast-common/src/index.ts
  packages/taro-fast-component-extra/src/index.ts
  packages/taro-fast-component-prism/src/index.ts
  packages/taro-fast-component/src/index.ts
  packages/taro-fast-dva/src/index.ts
  packages/taro-fast-framework/src/index.ts
  packages/taro-fast-rollup/src/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): adjust style in h5
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(taro-fast-component): adjust headerNavigation
  packages/simple-taro-fast-framework/src/news/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(taro-fast-common): update Env info
  packages/taro-fast-common/config/rollupConfig.js
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/utils/cacheAssist.js
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-common/src/utils/core.js
  packages/taro-fast-common/src/utils/env.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/config/rollupConfig.js
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component-prism/config/rollupConfig.js
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/framework/WebPageBase/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

docs(simple-taro-fast-framework): update script
  package.json
Due: prettier --write

fix(simple-taro-fast-framework): update style set
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write
