Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/.eslintrc
  packages/taro-fast-common/.eslintrc
  packages/taro-fast-component-extra/.eslintrc
  packages/taro-fast-component-prism/.eslintrc
  packages/taro-fast-component/.eslintrc
  packages/taro-fast-framework/.eslintrc
  packages/taro-fast-rollup/.eslintrc
Due: none

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/app.less
  packages/simple-taro-fast-framework/src/customConfig/pathConfig.js
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HeadNavigation/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/MultiLineText/index.jsx
  packages/taro-fast-component/src/customComponents/Link/index.jsx
  packages/taro-fast-component/src/customComponents/MultiLineText/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/functionComponent/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Grid/grid.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/MultiLineText/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Grid/grid.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/BackTop/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/.eslintrc
  packages/simple-taro-fast-framework/src/customComponents/PageWrapperCore/index.js
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
  packages/taro-fast-common/.eslintrc
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component-extra/.eslintrc
  packages/taro-fast-component-prism/.eslintrc
  packages/taro-fast-component/.eslintrc
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-framework/.eslintrc
  packages/taro-fast-rollup/.eslintrc
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

style(taro-fast-common): update
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-common/src/utils/typeCheck.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/BaseComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/BaseComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): uopdate
  packages/taro-fast-component/src/customComponents/SwiperWrapper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/SwiperWrapper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/BaseComponent/index.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.jsx
  packages/taro-fast-component/src/customComponents/HtmlBox/index.jsx
  packages/taro-fast-component/src/customComponents/HtmlBox/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): upadte
  packages/taro-fast-component/src/customComponents/HtmlBox/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/HtmlBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
