Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Button/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Link/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Price/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.jsx
  packages/taro-fast-component/src/customComponents/Countdown/index.jsx
  packages/taro-fast-component/src/customComponents/Transition/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Avatar/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Avatar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.jsx
  packages/taro-fast-component/src/customComponents/Avatar/index.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/tabbarItem.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Item/index.less
Due: stylelint, prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Item/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/taro-fast-component/src/customComponents/Steps/index.jsx
  packages/taro-fast-component/src/customComponents/Steps/index.less
  packages/taro-fast-component/src/customComponents/Steps/step.jsx
  packages/taro-fast-component/src/customComponents/Steps/steps.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/taro-fast-component/src/customComponents/Steps/index.less
  packages/taro-fast-component/src/customComponents/Steps/step.jsx
  packages/taro-fast-component/src/customComponents/Steps/steps.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/BackTop/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/BackTop/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/DataGrid/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/DataGrid/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/BackTop/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FixedBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/FixedBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/index.less
  packages/taro-fast-component/src/customComponents/FixedBox/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Element/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ExtraComponent/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ExtraComponent/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FadeInBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/FadeInBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Space/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Space/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Space/index.less
  packages/simple-taro-fast-framework/src/example/pages/VerticalBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/VerticalBox/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Card/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Card/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CenterBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/CenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Popup/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Popup/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ThumbnailBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ThumbnailBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Badge/index.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.less
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/config.js
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/HorizontalScrollBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/TranslucentBox/index.jsx
  packages/taro-fast-component/src/customComponents/TranslucentBox/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/CodeBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Avatar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/BackTop/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Collapse/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Line/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.jsx
  packages/taro-fast-common/src/customComponents/global.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/BackTop/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Basic/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Basic/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Card/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Collapse/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Collapse/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Color/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Color/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CssVariable/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/CssVariable/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/DataGrid/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FadeInBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FixedBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Flex/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): updzte
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Color/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CssVariable/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-prism/es/customComponents/PrismCode/index.d.ts
  packages/taro-fast-component-prism/es/customComponents/index.d.ts
  packages/taro-fast-component-prism/es/customComponents/index.js
  packages/taro-fast-component-prism/es/index.css
  packages/taro-fast-component-prism/es/index.d.ts
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-prism/.browserslistrc
  packages/taro-fast-component-prism/.editorconfig
  packages/taro-fast-component-prism/.eslintrc
  packages/taro-fast-component-prism/.gitignore
  packages/taro-fast-component-prism/.ncurc.json
  packages/taro-fast-component-prism/.prettierignore
  packages/taro-fast-component-prism/.prettierrc
  packages/taro-fast-component-prism/.stylelintrc.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/README.md
  packages/taro-fast-component-prism/babel.config.js
  packages/taro-fast-component-prism/config/rollupConfig.js
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component-prism/rollup.config.compression.js
  packages/taro-fast-component-prism/rollup.config.noCompression.js
  packages/taro-fast-component-prism/src/assets/check-mark.svg
  packages/taro-fast-component-prism/src/customComponents/Circle/index.jsx
  packages/taro-fast-component-prism/src/customComponents/Circle/index.less
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.less
  packages/taro-fast-component-prism/src/customComponents/Selector/index.jsx
  packages/taro-fast-component-prism/src/customComponents/Selector/index.less
  packages/taro-fast-component-prism/src/customComponents/Selector/options.jsx
  packages/taro-fast-component-prism/src/customComponents/Selector/selector.jsx
  packages/taro-fast-component-prism/src/customComponents/index.jsx
  packages/taro-fast-component-prism/src/index.ts
  packages/taro-fast-component-prism/tsconfig.json
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/HtmlBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/taro-fast-component-prism/src/customComponents/Circle/index.jsx
  packages/taro-fast-component-prism/src/customComponents/Circle/index.less
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.jsx
  packages/taro-fast-component-prism/src/customComponents/Selector/index.jsx
  packages/taro-fast-component-prism/src/customComponents/Selector/index.less
  packages/taro-fast-component-prism/src/customComponents/Selector/options.jsx
  packages/taro-fast-component-prism/src/customComponents/Selector/selector.jsx
  packages/taro-fast-component-prism/src/customComponents/index.jsx
  packages/taro-fast-component/src/customComponents/HtmlBox/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/HtmlBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/taro-fast-component-prism/babel.config.js
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.jsx
  packages/taro-fast-component/src/customComponents/HtmlBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.jsx
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.less
Due: stylelint, prettier --write

style(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-prism/es/customComponents/PrismCode/index.d.ts
  packages/taro-fast-component-prism/es/customComponents/index.d.ts
  packages/taro-fast-component-prism/es/customComponents/index.js
  packages/taro-fast-component-prism/es/index.css
  packages/taro-fast-component-prism/es/index.d.ts
  packages/taro-fast-component-prism/src/assets/check-mark.svg
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

v1.0.14
  packages/taro-fast-common/package.json
Due: prettier --write

v2.0.15
  packages/taro-fast-component/package.json
Due: prettier --write

v1.0.15
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Color/index.jsx
  packages/taro-fast-common/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
