Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  package.json
Due: prettier --write

v1.0.1
  packages/taro-fast-cli/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-common/babel.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): upadte
  packages/taro-fast-common/babel.config.js
  packages/taro-fast-component-extra/babel.config.js
  packages/taro-fast-component-prism/babel.config.js
  packages/taro-fast-component/babel.config.js
  packages/taro-fast-framework/babel.config.js
  packages/taro-fast-rollup/babel.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  documents/home.jpg
  packages/simple-taro-fast-framework/src/example/pages/Color/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/panel.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ProgressBox/index.jsx
  packages/taro-fast-component/src/customComponents/ProgressItem/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/RadioSelector/index.jsx
  packages/taro-fast-component/src/customComponents/ScaleBox/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/StepperItem/index.jsx
  packages/taro-fast-component/src/customComponents/Steps/step.jsx
  packages/taro-fast-component/src/customComponents/Steps/steps.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperItemContainer/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Switch/index.jsx
  packages/taro-fast-component/src/customComponents/SwitchItem/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/index.jsx
  packages/taro-fast-component/src/customComponents/Tabbar/tabbarItem.jsx
  packages/taro-fast-component/src/customComponents/Tabs/panel.jsx
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
  packages/taro-fast-component/src/customComponents/Tag/index.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
  packages/taro-fast-component/src/customComponents/ThumbnailBox/index.jsx
  packages/taro-fast-component/src/customComponents/Transition/tools.js
  packages/taro-fast-component/src/customComponents/Transition/transition.jsx
  packages/taro-fast-component/src/customComponents/TranslucentBox/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Selector/selector.jsx
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Selector/selector.jsx
  packages/taro-fast-component/src/customComponents/Price/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/BaseComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/Notification/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Price/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/simple-taro-fast-framework/src/models/article.js
  packages/simple-taro-fast-framework/src/models/global.js
  packages/simple-taro-fast-framework/src/models/index.js
  packages/simple-taro-fast-framework/src/news/pages/BasePageWrapper/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/index.less
  packages/simple-taro-fast-framework/src/services/article.js
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/index.less
  packages/taro-fast-component/src/customComponents/Empty/index.less
  packages/taro-fast-component/src/customComponents/Steps/index.less
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/index.less
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Empty/index.less
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/index.less
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/WebPageBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/HorizontalScrollBox/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/HorizontalScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-component/src/customComponents/BackTop/index.jsx
  packages/taro-fast-component/src/customComponents/FixedBox/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/VariableView/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/VariableView/PullIndicator/index.less
  packages/taro-fast-component/src/customComponents/VariableView/index.less
Due: stylelint, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
