Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-extra/src/customComponents/Selector/index.less
  packages/taro-fast-component-extra/src/customComponents/Selector/selector.jsx
  packages/taro-fast-component/src/customComponents/Card/index.less
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tag/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/taro-fast-component/src/customComponents/Countdown/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Grid/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Popup/index.less
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.less
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Copyright/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
  packages/taro-fast-component/src/customComponents/Grid/grid.jsx
  packages/taro-fast-component/src/customComponents/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/Loading/index.jsx
  packages/taro-fast-component/src/customComponents/Loading/index.less
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.less
  packages/taro-fast-component/src/customComponents/Steps/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-common/src/customComponents/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Grid/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/DataGrid/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HorizontalCenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/VerticalBox/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.js
  packages/taro-fast-component/src/customComponents/Item/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/StepperItem/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Badge/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.less
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-component/src/customComponents/AdvanceProgress/advanceProgress.jsx
  packages/taro-fast-component/src/customComponents/AdvanceProgressBox/advanceProgressBox.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgress/index.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Progress/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgress/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgressBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Progress/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Progress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ProgressBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ProgressItem/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ProgressItem/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceProgress/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceProgressBox/index.jsx
  packages/taro-fast-component/src/customComponents/CenterBox/index.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.less
  packages/taro-fast-component/src/customComponents/ProgressBox/index.jsx
  packages/taro-fast-component/src/customComponents/ProgressItem/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): upadte
  packages/taro-fast-component/src/customComponents/NoticeBar/index.less
  packages/taro-fast-component/src/customComponents/NoticeBar/noticeBar.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.less
  packages/taro-fast-component/src/customComponents/ImageBox/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/NoticeBar/noticeBar.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  packages/taro-fast-component/src/customComponents/CenterBox/index.jsx
  packages/taro-fast-component/src/customComponents/Countdown/index.jsx
  packages/taro-fast-component/src/customComponents/Countdown/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/StepperItem/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/StepperItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceSwitch/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceSwitch/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Switch/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Switch/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SwitchItem/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/SwitchItem/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceSwitch/advanceSwitch.jsx
  packages/taro-fast-component/src/customComponents/AdvanceSwitch/index.jsx
  packages/taro-fast-component/src/customComponents/Switch/index.jsx
  packages/taro-fast-component/src/customComponents/Switch/index.less
  packages/taro-fast-component/src/customComponents/SwitchItem/index.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/Grid/grid.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/ActionSheet/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ActionSheet/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-component-extra/src/customComponents/Selector/index.less
  packages/taro-fast-component/src/customComponents/ActionSheet/body/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/body/item/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/footer/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/header/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/index.less
  packages/taro-fast-component/src/customComponents/ActivityIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
  packages/taro-fast-component/src/customComponents/Overlay/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/Spin/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ActionSheet/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ActionSheet/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/body/item/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/footer/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/index.jsx
  packages/taro-fast-component/src/customComponents/ActionSheet/index.less
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ActionSheet/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Modal/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Modal/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/Card/index.less
  packages/taro-fast-component/src/customComponents/Flex/Col/index.jsx
  packages/taro-fast-component/src/customComponents/Flex/Row/index.jsx
  packages/taro-fast-component/src/customComponents/Modal/index.jsx
  packages/taro-fast-component/src/customComponents/Modal/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Circle/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Circle/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Cascader/index.jsx
  packages/taro-fast-component/src/customComponents/Cascader/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): baidu
  .vscode/settings.json
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
  packages/taro-fast-component/src/customComponents/Cascader/index.jsx
  packages/taro-fast-component/src/customComponents/Cascader/index.less
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): uypdate
  packages/taro-fast-component/src/customComponents/Cascader/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Cascader/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-rollup/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Progress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Price/index.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.jsx
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write
