Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): upate
  packages/taro-fast-framework/src/utils/request.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExecuteFlow/VerifySession/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExecuteFlow/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/CodeBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/CodePageBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExecuteFlow/VerifySession/index.jsx
  packages/simple-taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/CodePageBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildEmptyPlaceholder/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildInitialActivityIndicator/index.jsx
  packages/simple-taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-cli): update
  packages/simple-taro-fast-framework/src/customComponents/CodePageBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.js
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/utils/defaultSettingsSpecial.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/models/schedulingControl.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.js
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/models/schedulingControl.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .eslintignore
  .prettierignore
  .vscode/settings.json
  packages/simple-taro-fast-framework/.eslintignore
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/libs/qqmap-wx-jssdk.min.js
  packages/simple-taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .eslintignore
Due: none

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/BasePageWrapper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/BasePageWrapper/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/SignIn/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/SignIn/Main/index.less
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/ProgressItem/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): uopdate
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/BackboardBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/GridBanner/Main/index.js
  packages/simple-taro-fast-framework/src/template/pages/GridBanner/Main/index.less
  packages/taro-fast-component/src/customComponents/BackboardBox/index.jsx
  packages/taro-fast-component/src/customComponents/Grid/grid.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Color/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/SignIn/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/SignIn/Main/index.less
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/template/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Register/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Register/Main/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home2/Assist/action.js
  packages/simple-taro-fast-framework/src/news/pages/Home2/Assist/tools.js
  packages/simple-taro-fast-framework/src/news/pages/Home2/Common/data.js
  packages/simple-taro-fast-framework/src/news/pages/Home2/Main/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home2/Main/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): u[date
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/news/pages/Home2/Assist/tools.js
  packages/simple-taro-fast-framework/src/news/pages/Home2/Main/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Home2/Main/index.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HeadNavigation/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/CapsulePrompt/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.jsx
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/CapsulePrompt/index.jsx
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/CapsulePrompt/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/FixedBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  License.txt
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Footer/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.jsx
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/utils/defaultSettingsSpecial.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
