Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, npx prettier --cache --parser=typescript --write, prettier --write

.lintstagedrc:

{
  "*.{md,json}": ["npx prettier --cache --write"],
  "*.{js,jsx}": [
    "npx eslint --ext .js,.jsx,.ts,.tsx",
    "npx prettier --cache --write"
  ],
  "*.{css,less,scss}": [
    "stylelint",
    "npx prettier --cache --write"
  ],
  "*.{ts,tsx}": [
    "npx eslint --ext .js,.jsx,.ts,.tsx",
    "npx prettier --cache --parser=typescript --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "npx eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/project.config.json
  examples/simple-template/src/pages/home/assist/tools.js
  examples/simple-template/src/pages/home/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/communication/pages/singleListAddressBook/assist/tools.jsx
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/custom/pathConfig.js
  examples/simple-template/src/customer/customComponents/SubmitFlowCaseModal/index.jsx
  examples/simple-template/src/customer/customComponents/index.jsx
  examples/simple-template/src/customer/pages/flowCaseForm/main/index.jsx
  examples/simple-template/src/customer/pages/pageListWorkflow/assist/action.js
  examples/simple-template/src/customer/pages/pageListWorkflow/main/index.jsx
  examples/simple-template/src/modelBuilders/custom/flowCase.js
  examples/simple-template/src/modelBuilders/custom/index.js
  examples/simple-template/src/modelBuilders/custom/workflow.js
  examples/simple-template/src/pages/customer/main/index.jsx
  examples/simple-template/src/services/flowCase.js
  examples/simple-template/src/services/workflow.js
  examples/simple-template/src/utils/custom/builds/flowCase.jsx
  examples/simple-template/src/utils/custom/builds/index.jsx
  examples/simple-template/src/utils/custom/builds/workflow.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/src/customer/customComponents/ConfirmCreateFlowCaseModal/index.jsx
  examples/simple-template/src/customer/customComponents/index.jsx
  examples/simple-template/src/customer/pages/pageListWorkflow/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/project.config.json
  examples/simple-template/src/customConfig/custom/fieldDataCollection/fieldDataWorkflowCase.js
  examples/simple-template/src/customConfig/custom/fieldDataCollection/fieldDataWorkflowCaseFormAttachment.js
  examples/simple-template/src/customConfig/custom/fieldDataCollection/index.js
  examples/simple-template/src/customer/customComponents/ConfirmCreateFlowCaseActionSheet/index.jsx
  examples/simple-template/src/customer/customComponents/index.jsx
  examples/simple-template/src/customer/pages/flowCaseForm/assist/action.js
  examples/simple-template/src/customer/pages/flowCaseForm/main/index.jsx
  examples/simple-template/src/customer/pages/pageListCreateApprove/main/index.jsx
  examples/simple-template/src/customer/pages/pageListWorkflow/main/index.jsx
  examples/simple-template/src/modelBuilders/custom/flowCase.js
  examples/simple-template/src/modelBuilders/custom/flowCaseFormAttachment.js
  examples/simple-template/src/modelBuilders/custom/index.js
  examples/simple-template/src/services/flowCase.js
  examples/simple-template/src/services/flowCaseFormAttachment.js
  packages/taro-fast-common/src/utils/taroAssist.js
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImagePicker/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-design-playground/src/components/form/FormBuilder/index.jsx
  packages/taro-fast-design-playground/src/components/form/index.jsx
  packages/taro-fast-design-playground/src/components/index.jsx
  packages/taro-fast-design-playground/src/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/interactiveWrappers/ActionSheetConfirmWrapperBase/index.jsx
  packages/taro-fast-framework/src/interactiveWrappers/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/DatetimeRangePicker/index.jsx
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-taro-fast-framework/src/example/pages/DatetimePicker/tools.js
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/customComponents/AbstractComponent/index.jsx
  packages/taro-fast-common/src/utils/meta.js
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/DatetimePicker/index.jsx
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/src/customer/pages/pageListWorkflow/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/customer/pages/approve/assist/action.js
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/customer/pages/flowCaseForm/assist/action.js
  examples/simple-template/src/customer/pages/flowCaseForm/main/index.jsx
  examples/simple-template/src/customer/pages/pageListWorkflow/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  packages/taro-fast-common/src/utils/meta.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-taro-fast-framework/src/app.config.js
  examples/simple-taro-fast-framework/src/customComponents/ContentPageWrapper/index.jsx
  examples/simple-taro-fast-framework/src/customComponents/PropertyInteractiveBox/index.jsx
  examples/simple-taro-fast-framework/src/customConfig/pathConfig.js
  examples/simple-taro-fast-framework/src/example/pages/Calendar/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Calendar/tools.js
  examples/simple-taro-fast-framework/src/example/pages/ExtraComponent/index.jsx
  examples/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/Basic/index.jsx
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/src/pages/home/assist/tools.js
  package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/customComponents/AbstractComponent/index.jsx
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-extra/src/customComponents/Calendar/constant.js
  packages/taro-fast-component-extra/src/customComponents/Calendar/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Calendar/tools.jsx
  packages/taro-fast-component-extra/src/customComponents/index.jsx
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/DatetimePicker/index.jsx
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/src/example/pages/Calendar/tools.js
  examples/simple-taro-fast-framework/src/example/pages/CheckBoxPopup/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/DatetimePicker/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/DatetimePicker/tools.js
  examples/simple-taro-fast-framework/src/example/pages/RadioPopup/index.jsx
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBoxPopup/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/RadioPopup/index.jsx
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/src/example/pages/CheckBoxPopup/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/RadioPopup/index.jsx
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/CheckBoxPopup/index.jsx
  packages/taro-fast-component/src/customComponents/RadioPopup/index.jsx
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: 调整页面以及交互
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/pages/entry/main/index.jsx
  examples/simple-template/src/utils/custom/tools.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/suggestion/pageBases/BasePageListMessage/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/src/example/pages/ImagePicker/index.jsx
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/suggestion/pageBases/BaseSubmitMessage/index.jsx
  packages/taro-fast-component/src/customComponents/ImagePicker/index.jsx
  packages/taro-fast-component/src/customComponents/ImagePicker/index.less
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/modelBuilders/custom/subsidiaryComplaintMessage.js
  examples/simple-template/src/modelBuilders/custom/subsidiaryFeedbackMessage.js
  examples/simple-template/src/modelBuilders/custom/subsidiaryReportMessage.js
  examples/simple-template/src/services/subsidiaryComplaintMessage.js
  examples/simple-template/src/services/subsidiaryFeedbackMessage.js
  examples/simple-template/src/services/subsidiaryReportMessage.js
  examples/simple-template/src/suggestion/pageBases/BaseSubmitMessage/index.jsx
  examples/simple-template/src/suggestion/pages/submitComplaint/main/index.jsx
  examples/simple-template/src/suggestion/pages/submitFeedback/main/index.jsx
  examples/simple-template/src/suggestion/pages/submitReport/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: 调整ImagePicker组件
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/pages/entry/main/index.jsx
  examples/simple-template/src/suggestion/pageBases/BaseSubmitMessage/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/src/suggestion/fieldDataCollection/fieldDataBaseSubsidiaryMessage.jsx
  examples/simple-template/src/suggestion/pageBases/BaseDetailMessage/index.jsx
  examples/simple-template/src/suggestion/pageBases/BaseSubmitMessage/index.jsx
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/ImagePicker/index.jsx
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/custom/pathConfig.js
  examples/simple-template/src/modelBuilders/custom/customer.js
  examples/simple-template/src/services/customer.js
  examples/simple-template/src/suggestion/pageBases/BaseSubmitMessage/index.jsx
  examples/simple-template/src/suggestion/pages/editInformation/main/index.jsx
  examples/simple-template/src/suggestion/pages/home/main/index.jsx
  examples/simple-template/src/suggestion/pages/setAvatar/main/index.jsx
  examples/simple-template/src/suggestion/pages/verifyPhone/assist/action.js
  examples/simple-template/src/suggestion/pages/verifyPhone/main/index.jsx
  examples/simple-template/src/suggestion/pages/verifyPhone/main/index.less
  examples/simple-template/src/user/pages/changePassword/main/index.jsx
  examples/simple-template/src/user/pages/setAddress/main/index.jsx
  examples/simple-template/src/user/pages/setAvatar/main/index.jsx
  examples/simple-template/src/user/pages/setBirthday/main/index.jsx
  packages/taro-fast-component/src/customComponents/Modal/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCase.js
  examples/simple-template/src/suggestion/pageBases/BaseSubmitMessage/index.jsx
  examples/simple-template/src/user/pageBases/BaseFlowCaseDetail/index.jsx
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/project.config.json
  examples/simple-template/src/modelBuilders/custom/customer.js
  examples/simple-template/src/services/customer.js
  examples/simple-template/src/suggestion/customComponents/EditNicknamePopup/index.jsx
  examples/simple-template/src/suggestion/customComponents/index.jsx
  examples/simple-template/src/suggestion/pages/editInformation/assist/action.js
  examples/simple-template/src/suggestion/pages/editInformation/main/index.jsx
  examples/simple-template/src/suggestion/pages/verifyPhone/main/index.less
  examples/simple-template/src/suggestion/pages/verifyPhoneWithWeChat/assist/action.js
  examples/simple-template/src/suggestion/pages/verifyPhoneWithWeChat/main/index.jsx
  examples/simple-template/src/user/customComponents/EditNicknamePopup/index.jsx
  examples/simple-template/src/user/customComponents/index.jsx
  examples/simple-template/src/user/pages/editInformation/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customComponents/general/PageNeedSignInWrapper/index.jsx
  examples/simple-template/src/customConfig/custom/pathConfig.js
  examples/simple-template/src/pages/user/main/index.jsx
  examples/simple-template/src/suggestion/pageBases/BaseSubmitMessage/index.jsx
  examples/simple-template/src/suggestion/pages/customer/main/index.jsx
  examples/simple-template/src/suggestion/pages/editInformation/main/index.jsx
  examples/simple-template/src/suggestion/pages/verifyPhone/main/index.jsx
  examples/simple-template/src/suggestion/pages/verifyPhoneWithWeChat/main/index.jsx
  examples/simple-template/src/user/pages/approve/main/index.jsx
  examples/simple-template/src/user/pages/editInformation/main/index.jsx
  examples/simple-template/src/utils/custom/builds/flowCase.jsx
  examples/simple-template/src/utils/custom/builds/workflow.jsx
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-design-playground/CHANGELOG.md
  packages/taro-fast-design-playground/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/custom/model.json
  examples/simple-template/project.config.json
  examples/simple-template/src/modelBuilders/custom/customer.js
  examples/simple-template/src/services/customer.js
  examples/simple-template/src/suggestion/pages/editInformation/main/index.jsx
  examples/simple-template/src/suggestion/pages/verifyPhoneWithWeChat/assist/action.js
  examples/simple-template/src/suggestion/pages/verifyPhoneWithWeChat/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write
