Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/utils/requestAssistor.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

docs(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
Due: prettier --write

feat(simple-taro-fast-framework): stepper support onIncrease onReduce
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/StepperItem/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

fix(taro-fast-component): fix stepper default value bug
  packages/simple-taro-fast-framework/config/index.js
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

docs(simple-taro-fast-framework): update dependences
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/customComponents/Notification/index.jsx
  packages/taro-fast-common/src/customComponents/index.jsx
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

docs(taro-fast-cli): update rollup build
  .vscode/tasks.json
  package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/config/rollupConfig.js
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

docs(simple-taro-fast-framework): update dependences
  .vscode/tasks.json
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/project.private.config.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

feat(simple-taro-fast-framework): update dependences
  packages/simple-taro-fast-framework/project.private.config.json
  packages/taro-fast-common/src/utils/log.js
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/models/schedulingControl.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

docs(simple-taro-fast-framework): update
  package.json
Due: prettier --write

docs(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/base.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

feat(taro-fast-component): head navigation support gradient on scroll
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/example/pages/HeadNavigation/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): update
  lerna.json
  package.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): update
  .prettierrc
  .prettierrc.js
  .vscode/settings.json
  package.json
  packages/simple-taro-fast-framework/.prettierrc
  packages/simple-taro-fast-framework/.prettierrc.js
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/.prettierrc.js
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/.prettierrc
  packages/taro-fast-common/.prettierrc.js
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/.prettierrc
  packages/taro-fast-component-extra/.prettierrc.js
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/.prettierrc
  packages/taro-fast-component-prism/.prettierrc.js
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/.prettierrc
  packages/taro-fast-component/.prettierrc.js
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/.prettierrc
  packages/taro-fast-dva/.prettierrc.js
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/.prettierrc
  packages/taro-fast-framework/.prettierrc.js
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/.prettierrc
  packages/taro-fast-rollup/.prettierrc.js
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
  pnpm-lock.yaml
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): update
  .gitignore
Due: none

feat(simple-taro-fast-framework): update
  .gitignore
  pnpm-lock.yaml
Due: none

feat(simple-taro-fast-framework): update
  .vscode/tasks.json
  packages/taro-fast-dva/package.json
Due: prettier --write

feat(simple-taro-fast-framework): update
  .gitignore
  .vscode/tasks.json
  package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/core.js
  packages/taro-fast-common/src/utils/log.js
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): 调整不同构建平台兼容性
  package.json
  packages/simple-taro-fast-framework/src/example/pages/HeadNavigation/index.jsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): update
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

feat(simple-taro-fast-framework): update
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

feat(simple-taro-fast-framework): update
  .vscode/settings.json
  package.json
  packages/taro-fast-cli/src/clear.js
  packages/taro-fast-common/src/index.ts
  packages/taro-fast-component-extra/src/index.ts
  packages/taro-fast-component-prism/src/index.ts
  packages/taro-fast-component/src/index.ts
  packages/taro-fast-dva/src/index.ts
  packages/taro-fast-framework/src/index.ts
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat(simple-taro-fast-framework): update
  .gitignore
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

fix(taro-fast-cli): update
  packages/taro-fast-common/src/index.ts
  packages/taro-fast-component-extra/src/index.ts
  packages/taro-fast-component-prism/src/index.ts
  packages/taro-fast-component/src/index.ts
  packages/taro-fast-dva/src/index.ts
  packages/taro-fast-framework/src/index.ts
  packages/taro-fast-rollup/src/index.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): update
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

docs(simple-taro-fast-framework): update
  .gitignore
  package.json
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

docs(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

docs(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-dva/CHANGELOG.md
  packages/taro-fast-dva/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

Path conditions:
  stylelint: any of: **/*.less
  npx eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
