Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperItem/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperItemContainer/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.less
  packages/taro-fast-component/src/customComponents/Swiper/tools.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Swiper/SwiperItemContainer/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-common/src/utils/typeCheck.js
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): updatye
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customComponents/PropertyBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ScaleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/taro-fast-component/src/customComponents/CenterBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.less
  packages/taro-fast-component/src/customComponents/ScaleBox/index.jsx
  packages/taro-fast-component/src/customComponents/ScaleBox/index.less
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PropertyBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.less
  packages/taro-fast-component/src/customComponents/ScaleBox/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  .gitattributes
Due: none

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/taro-fast-component/src/customComponents/ScaleBox/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/.stylelintrc.json
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Card/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/index.less
  packages/taro-fast-common/.stylelintrc.json
  packages/taro-fast-component-extra/.stylelintrc.json
  packages/taro-fast-component/.stylelintrc.json
  packages/taro-fast-component/src/customComponents/Card/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.less
  packages/taro-fast-component/src/customComponents/More/index.jsx
  packages/taro-fast-component/src/customComponents/More/index.less
  packages/taro-fast-component/src/customComponents/NoticeBar/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/index.less
  packages/taro-fast-component/src/customComponents/NoticeBar/more.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/noticeBar.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-framework/.stylelintrc.json
  packages/taro-fast-rollup/.stylelintrc.json
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/index.less
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-component/src/customComponents/CenterBox/index.jsx
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
  packages/taro-fast-component/src/customComponents/Ellipsis/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperItemContainer/index.jsx
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/Grid/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Grid/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HorizontalCenterBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/HorizontalScrollBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/Home/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildEmptyPlaceholder/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildEmptyPlaceholder/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildInitialActivityIndicator/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildInitialActivityIndicator/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/index.config.js
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/index.jsx
  packages/taro-fast-component/src/customComponents/HorizontalScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/HorizontalScrollBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.config.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/HorizontalScrollBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/HorizontalScrollBox/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
  packages/taro-fast-component/src/customComponents/HorizontalScrollBox/index.jsx
  packages/taro-fast-component/src/customComponents/Swiper/SwiperItemContainer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): upate
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
  packages/taro-fast-component/src/customComponents/More/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PropertyBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Flex/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Flex/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Footer/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Footer/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Form/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Form/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Grid/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/HelpBox/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/HelpBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HorizontalCenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Line/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Line/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Link/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Link/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
