Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  .lintstagedrc.json
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/Notification/index.jsx
  packages/taro-fast-common/src/utils/cacheAssist.js
  packages/taro-fast-common/src/utils/hooks.js
  packages/taro-fast-common/src/utils/storageAssist.js
  packages/taro-fast-common/src/utils/tips.js
  packages/taro-fast-common/src/utils/typeConvert.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Selector/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Selector/selector.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Core/index.js
  packages/taro-fast-framework/src/framework/index.jsx
  packages/taro-fast-framework/src/index.less
  packages/taro-fast-framework/src/models/schedulingControl.js
  packages/taro-fast-framework/src/services/schedulingControl.js
  packages/taro-fast-framework/src/utils/authority.js
  packages/taro-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/taro-fast-framework/src/utils/dva.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
  packages/taro-fast-framework/src/utils/virtualRequest.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/services/customer.js
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/services/schedulingControl.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/services/schedulingControl.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

docs(taro-fast-common): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/utils/requestAssistor.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write
