Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, npx prettier --cache --parser=typescript --write, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(taro-fast-common): update
  .husky/pre-commit
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  .czrc
  .vscode/settings.json
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/package.json
  package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  .vscode/tasks.json
  cli.help.json
  develop/flags/commit.flag.json
  package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/config/dev.js
  examples/simple-taro-fast-framework/config/index.js
  examples/simple-taro-fast-framework/config/prod.js
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/utils/environmentAssist.js
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.jsx
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/HtmlBox/index.jsx
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/package.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/utils/taroAssist.js
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/utils/request.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  .husky/pre-commit
  develop/flags/commit.flag.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/config/index.js
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-taro-fast-framework/src/example/pages/ActionSheet/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  examples/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
  examples/simple-taro-fast-framework/src/framework/pages/PageExtend/FullAdministrativeDivisionSelector/index.jsx
  examples/simple-taro-fast-framework/src/templateRemote/pages/GetCustomer/Main/index.jsx
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.jsx
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/config/index.js
  examples/simple-template/CHANGELOG.md
  examples/simple-template/config/index.js
  examples/simple-template/generatorTemplate/page.template.ejs
  examples/simple-template/package.json
  examples/simple-template/project.private.config.json
  package.json
  packages/taro-fast-config/.editorconfig
  packages/taro-fast-config/.eslintignore
  packages/taro-fast-config/.eslintrc.js
  packages/taro-fast-config/.gitattributes
  packages/taro-fast-config/.gitignore
  packages/taro-fast-config/.jsdoc.js
  packages/taro-fast-config/.lintstagedrc
  packages/taro-fast-config/.ncurc.js
  packages/taro-fast-config/.prettierignore
  packages/taro-fast-config/.prettierrc.js
  packages/taro-fast-config/.stylelintignore
  packages/taro-fast-config/.stylelintrc.js
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/babel.config.js
  packages/taro-fast-config/jest.config.js
  packages/taro-fast-config/package.json
  packages/taro-fast-config/src/configAssist.js
  packages/taro-fast-config/src/index.js
  packages/taro-fast-config/test/simple.test.js
  packages/taro-fast-config/tsconfig.json
  packages/taro-fast-config/tsconfig.types.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/project.config.json
  examples/simple-template/src/app.config.extra.js
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/general/PageWrapperCore/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/general/pathConfig.js
  examples/simple-template/src/customer/pages/signIn/assist/action.js
  examples/simple-template/src/customer/pages/signIn/main/index.jsx
  examples/simple-template/src/customer/pages/signInWithWeChat/main/index.jsx
  examples/simple-template/src/customer/pages/signInWithWeChat/main/index.less
  examples/simple-template/src/modelBuilders/general/entrance.js
  examples/simple-template/src/modelBuilders/general/index.js
  examples/simple-template/src/modelBuilders/general/user.js
  examples/simple-template/src/services/entrance.js
  examples/simple-template/src/services/user.js
  packages/taro-fast-common/src/customComponents/AbstractComponent/index.jsx
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  packages/taro-fast-common/src/customComponents/AbstractComponent/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  packages/taro-fast-framework/src/utils/actionAssist.js
  packages/taro-fast-framework/src/utils/administrativeDivisionFullDataCacheAssist.js
  packages/taro-fast-framework/src/utils/common.js
  packages/taro-fast-framework/src/utils/configAssist.js
  packages/taro-fast-framework/src/utils/currentCustomerAssist.js
  packages/taro-fast-framework/src/utils/currentUrlAssist.js
  packages/taro-fast-framework/src/utils/definition.js
  packages/taro-fast-framework/src/utils/effectiveCodeAssist.js
  packages/taro-fast-framework/src/utils/launchOptionAssist.js
  packages/taro-fast-framework/src/utils/locationAssist.js
  packages/taro-fast-framework/src/utils/needSyncInfoAssist.js
  packages/taro-fast-framework/src/utils/nextCheckLoginUnixTimeAssist.js
  packages/taro-fast-framework/src/utils/openIdAssist.js
  packages/taro-fast-framework/src/utils/remoteCheckAssist.js
  packages/taro-fast-framework/src/utils/selectedAddressDataAssist.js
  packages/taro-fast-framework/src/utils/sessionAssist.js
  packages/taro-fast-framework/src/utils/sessionRefreshingAssist.js
  packages/taro-fast-framework/src/utils/weatherAssist.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/src/customComponents/general/PageWrapperCore/index.jsx
  examples/simple-template/src/modelBuilders/general/customer.js
  examples/simple-template/src/modelBuilders/general/index.js
  examples/simple-template/src/modelBuilders/general/user.js
  examples/simple-template/src/services/customer.js
  examples/simple-template/src/services/user.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/src/customComponents/general/PageWrapperCore/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/utils/settingsAssist.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  packages/taro-fast-common/src/customComponents/AbstractComponent/index.jsx
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/src/customComponents/general/PageWrapperCore/index.jsx
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/utils/settingsAssist.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/src/customComponents/PageWrapperCore/index.js
  examples/simple-taro-fast-framework/src/customComponents/PageWrapperRemote/index.js
  examples/simple-template/src/customComponents/general/PageWrapperCore/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  packages/taro-fast-common/src/utils/definition.js
  packages/taro-fast-common/src/utils/environmentAssist.js
  packages/taro-fast-common/src/utils/localStorageAssist.js
  packages/taro-fast-common/src/utils/messageAssist.js
  packages/taro-fast-common/src/utils/navigationAssist.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-taro-fast-framework/project.config.json
  examples/simple-taro-fast-framework/project.private.config.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/src/template/pages/Loading/BallClipRotate/index.jsx
  examples/simple-taro-fast-framework/src/template/pages/Loading/BallGridBeat/index.jsx
  examples/simple-taro-fast-framework/src/template/pages/Loading/BallGridPulse/index.jsx
  examples/simple-taro-fast-framework/src/template/pages/Loading/BallPulse/index.jsx
  examples/simple-taro-fast-framework/src/template/pages/Loading/BallScale/index.jsx
  examples/simple-taro-fast-framework/src/template/pages/Loading/BallScaleMultiple/index.jsx
  examples/simple-taro-fast-framework/src/template/pages/Loading/Main/index.jsx
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customComponents/general/BallGridBeat/index.jsx
  examples/simple-template/src/customComponents/general/BallGridPulse/index.jsx
  examples/simple-template/src/customComponents/general/BallScaleMultiple/index.jsx
  examples/simple-template/src/customComponents/general/PageWrapperCore/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/general/pathConfig.js
  examples/simple-template/src/customer/pages/resetPassword/assist/action.js
  examples/simple-template/src/customer/pages/resetPassword/main/index.jsx
  examples/simple-template/src/customer/pages/resetPassword/main/index.less
  examples/simple-template/src/customer/pages/signIn/assist/action.js
  examples/simple-template/src/customer/pages/signInWithWeChat/assist/action.js
  examples/simple-template/src/modelBuilders/general/entrance.js
  examples/simple-template/src/services/entrance.js
  packages/taro-fast-common/src/customComponents/AbstractComponent/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customer/pages/resetPassword/assist/action.js
  examples/simple-template/src/customer/pages/resetPassword/main/index.jsx
  examples/simple-template/src/customer/pages/signIn/main/index.jsx
  examples/simple-template/src/modelBuilders/general/entrance.js
  examples/simple-template/src/services/entrance.js
  packages/taro-fast-common/src/utils/meta.js
  packages/taro-fast-component/src/customComponents/Countdown/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customer/pages/resetPassword/main/index.jsx
  examples/simple-template/src/customer/pages/signIn/main/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-template/generatorConfig/general/model.json
  examples/simple-template/project.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/assets/tab-bar/approve.png
  examples/simple-template/src/assets/tab-bar/approve_active.png
  examples/simple-template/src/customComponents/custom/PageWrapperExtra/index.jsx
  examples/simple-template/src/customComponents/general/PageWrapperCore/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/general/constants.js
  examples/simple-template/src/customConfig/general/pathConfig.js
  examples/simple-template/src/modelBuilders/general/flowCase.js
  examples/simple-template/src/modelBuilders/general/index.js
  examples/simple-template/src/pages/customer/main/index.jsx
  examples/simple-template/src/pages/flowCase/assist/action.js
  examples/simple-template/src/pages/flowCase/assist/tools.js
  examples/simple-template/src/pages/flowCase/common/data.js
  examples/simple-template/src/pages/flowCase/main/index.jsx
  examples/simple-template/src/pages/flowCase/main/index.less
  examples/simple-template/src/pages/home/main/index.jsx
  examples/simple-template/src/services/flowCase.js
  packages/taro-fast-common/src/customComponents/AbstractComponent/index.jsx
  packages/taro-fast-common/src/index.jsx
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-common/src/utils/fitHandler.js
  packages/taro-fast-common/src/utils/mediaDefault.js
  packages/taro-fast-common/src/utils/settingsAssist.js
  packages/taro-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/models/schedulingControl.js
  packages/taro-fast-framework/src/services/schedulingControl.js
  packages/taro-fast-framework/src/utils/common.js
  packages/taro-fast-framework/src/utils/configAssist.js
  packages/taro-fast-framework/src/utils/index.js
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/tsconfig.json
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/src/example/pages/Avatar/index.jsx
  examples/simple-template/src/customConfig/custom/constants.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataCommon.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlow.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCase.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCaseCarbonCopyNotification.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCaseFormAttachment.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCaseFormStorage.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCaseLatestApprove.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCaseNextProcessApprove.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCaseNextProcessNotification.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCaseNextProcessProgress.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowCaseProcessHistory.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowFormDesign.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowLine.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/fieldDataFlowNode.js
  examples/simple-template/src/customConfig/general/fieldDataCollection/index.js
  examples/simple-template/src/customConfig/general/index.js
  examples/simple-template/src/customer/pages/signIn/main/index.jsx
  examples/simple-template/src/pages/flowCase/assist/tools.js
  examples/simple-template/src/pages/flowCase/common/data.js
  examples/simple-template/src/pages/flowCase/main/index.jsx
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-common/src/utils/mediaDefault.js
  packages/taro-fast-common/src/utils/meta.js
  packages/taro-fast-component/src/customComponents/Avatar/index.jsx
  packages/taro-fast-component/src/customComponents/Avatar/index.less
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

fix(simple-taro-fast-framework): :bug: update
  develop/flags/commit.flag.json
  examples/simple-taro-fast-framework/CHANGELOG.md
  examples/simple-taro-fast-framework/package.json
  examples/simple-template/CHANGELOG.md
  examples/simple-template/package.json
  examples/simple-template/project.config.json
  examples/simple-template/project.private.config.json
  examples/simple-template/src/app.config.js
  examples/simple-template/src/customConfig/general/pathConfig.js
  examples/simple-template/src/customer/pages/approve/common/data.js
  examples/simple-template/src/customer/pages/approve/main/index.jsx
  examples/simple-template/src/pages/flowCase/assist/tools.js
  examples/simple-template/src/pages/flowCase/main/index.jsx
  examples/simple-template/src/pages/flowCase/main/index.less
  package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-config/CHANGELOG.md
  packages/taro-fast-config/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, npx eslint --ext .js,.jsx,.ts,.tsx, stylelint, prettier --write

Path conditions:
  npx prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less,scss})
  npx eslint --ext .js,.jsx,.ts,.tsx: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: **/*.{js,jsx,ts,tsx})
  stylelint: (any of: *.{css,less,scss}) or (any of: **/*.less)
  npx prettier --cache --parser=typescript --write: any of: *.{ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
