Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-framework): update
  packages/taro-fast-framework/src/models/schedulingControl.js
  packages/taro-fast-framework/src/utils/dva.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/models/article.js
  packages/simple-taro-fast-framework/src/models/customer.js
  packages/simple-taro-fast-framework/src/models/entrance.js
  packages/simple-taro-fast-framework/src/models/global.js
  packages/simple-taro-fast-framework/src/models/news.js
  packages/simple-taro-fast-framework/src/models/session.js
  packages/simple-taro-fast-framework/src/models/simulation.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-common): update
  packages/taro-fast-common/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(taro-fast-framework): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(taro-fast-common): update
  packages/taro-fast-framework/src/utils/dva.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-common): update
  packages/taro-fast-component/src/customComponents/ImageBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(taro-fast-component): update
  packages/taro-fast-common/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-common): update
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/assets/images/transparent.png
Due: none

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customComponents/PageWrapperCore/index.js
  packages/simple-taro-fast-framework/src/example/pages/Interact/index.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/models/schedulingControl.js
  packages/taro-fast-framework/src/services/schedulingControl.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PageWrapperRemote/index.js
  packages/simple-taro-fast-framework/src/models/global.js
  packages/simple-taro-fast-framework/src/template/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/templateRemote/pages/Entry/Main/index.jsx
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/models/global.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/utils/dva.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
