Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Modal/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Modal/index.jsx
  packages/taro-fast-component/src/customComponents/Modal/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Space/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Space/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Space/index.less
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/Card/index.jsx
  packages/taro-fast-component/src/customComponents/Divider/divider.jsx
  packages/taro-fast-component/src/customComponents/Divider/index.less
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/customComponents/Space/index.less
  packages/taro-fast-component/src/customComponents/Space/item.jsx
  packages/taro-fast-component/src/customComponents/Space/tools.jsx
  packages/taro-fast-component/src/customComponents/Stepper/index.less
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/Transition/tools.js
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ButtonAction/Assist/action.js
  packages/simple-taro-fast-framework/src/example/pages/ButtonAction/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ButtonAction/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Color/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Color/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Line/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Line/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Space/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-component-extra/src/customComponents/Selector/index.less
  packages/taro-fast-component/src/customComponents/ActionSheet/index.less
  packages/taro-fast-component/src/customComponents/ActivityIndicator/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceButton/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/Button/index.jsx
  packages/taro-fast-component/src/customComponents/Button/tools.js
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/Line/index.jsx
  packages/taro-fast-component/src/customComponents/Line/index.less
  packages/taro-fast-component/src/customComponents/Loading/index.jsx
  packages/taro-fast-component/src/customComponents/Loading/index.less
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/Space/item.jsx
  packages/taro-fast-component/src/customComponents/Spin/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/functionComponent/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ButtonAction/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Button/tools.js
  packages/taro-fast-component/src/customComponents/Line/index.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.jsx
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/customComponents/Space/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Space/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): upadte
  packages/simple-taro-fast-framework/src/example/pages/ButtonAction/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Card/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Countdown/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Popup/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Progress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ProgressItem/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Space/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/StepperItem/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBoxSelector/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/RadioSelector/index.jsx
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/index.less
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/StepperItem/index.jsx
  packages/taro-fast-component/src/customComponents/SwitchItem/index.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/customComponents/Space/spaceItem.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Space/index.jsx
  packages/taro-fast-component/src/customComponents/Space/spaceItem.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Collapse/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Collapse/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Collapse/index.jsx
  packages/taro-fast-component/src/customComponents/Collapse/index.less
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Switch/index.jsx
  packages/simple-taro-fast-framework/src/models/news.js
  packages/simple-taro-fast-framework/src/services/news.js
  packages/simple-taro-fast-framework/src/utils/request.js
  packages/taro-fast-component/src/customComponents/Switch/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
  packages/taro-fast-framework/src/utils/virtualRequest.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Switch/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SwitchItem/index.jsx
  packages/taro-fast-component/src/customComponents/SwitchItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/SwitchItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/RadioSelector/index.jsx
  packages/taro-fast-component/src/customComponents/Grid/item.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/RadioSelector/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): uopdate
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CheckBoxSelector/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBoxSelector/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CheckBoxSelector/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update \\
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Collapse/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Item/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/taro-fast-common/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.jsx
  packages/taro-fast-component/src/customComponents/Overlay/index.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/project.config.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Cascader/index.jsx
  packages/taro-fast-component/src/customComponents/Switch/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.js
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Cascader/index.less
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/assets/images/curtain.png
  packages/simple-taro-fast-framework/src/assets/images/icon-list-action.png
  packages/simple-taro-fast-framework/src/assets/images/icon-list-basic.png
  packages/simple-taro-fast-framework/src/assets/images/icon-list-form.png
  packages/simple-taro-fast-framework/src/assets/images/icon-list-hoc.png
  packages/simple-taro-fast-framework/src/assets/images/icon-list-layout.png
  packages/simple-taro-fast-framework/src/assets/images/icon-list-navigation.png
  packages/simple-taro-fast-framework/src/assets/images/icon-list-view.png
  packages/simple-taro-fast-framework/src/assets/images/logo.png
  packages/simple-taro-fast-framework/src/assets/images/verification_code.png
  packages/simple-taro-fast-framework/src/customComponents/ChannelPageBase/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/ChannelPageBase/index.less
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.js
  packages/simple-taro-fast-framework/src/customComponents/ContentPageBase/index.less
  packages/simple-taro-fast-framework/src/customComponents/Header/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/Header/index.less
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Basic/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Basic/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/babel.config.js
  packages/simple-taro-fast-framework/config/prod.js
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/taro-fast-common/config/dev.js
  packages/taro-fast-common/config/index.js
  packages/taro-fast-common/config/prod.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/config/dev.js
  packages/taro-fast-component-extra/config/index.js
  packages/taro-fast-component-extra/config/prod.js
  packages/taro-fast-component/config/dev.js
  packages/taro-fast-component/config/index.js
  packages/taro-fast-component/config/prod.js
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
  packages/taro-fast-component/src/functionComponent/index.jsx
  packages/taro-fast-framework/config/dev.js
  packages/taro-fast-framework/config/index.js
  packages/taro-fast-framework/config/prod.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/example/pages/Basic/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Color/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/CssVariable/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/CssVariable/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
  packages/taro-fast-common/src/customComponents/global.less
  packages/taro-fast-component/src/customComponents/Icon/icons.jsx
  packages/taro-fast-component/src/customComponents/Icon/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
Due: prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
