Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/constants.js
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/Card/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.less
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/.eslintrc
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.jsx
  packages/taro-fast-common/.eslintrc
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component-extra/.eslintrc
  packages/taro-fast-component/.eslintrc
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
  packages/taro-fast-framework/.eslintrc
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-rollup/.eslintrc
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/ColorText/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.less
  packages/taro-fast-component/src/customComponents/Item/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/radio.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/CheckBox/checkBox.jsx
  packages/taro-fast-component/src/customComponents/Radio/radio.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/StepperItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBoxSelector/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/RadioSelector/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/src/utils/typeCheck.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/CheckBox/checkBox.jsx
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBox/tools.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/radio.jsx
  packages/taro-fast-component/src/customComponents/Radio/tools.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
  packages/taro-fast-component/src/functionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/.prettierignore
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/CheckBoxSelector/index.jsx
  packages/taro-fast-component/src/customComponents/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/project.config.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/taro-fast-common/src/utils/cacheAssist.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/config/index.js
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/project.tt.json
  packages/simple-taro-fast-framework/src/app.js
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/project.config.json
  packages/taro-fast-framework/project.tt.json
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/config/index.js
  packages/taro-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/Tabs/tabs.jsx
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/simple-taro-fast-framework/config/index.js
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-rollup/package.json
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/.stylelintrc.js
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/global.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/global.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/.stylelintrc.js
  packages/taro-fast-component/.stylelintrc.json
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/ActivityIndicator/index.less
  packages/taro-fast-component/src/customComponents/Avatar/index.less
  packages/taro-fast-component/src/customComponents/Badge/index.less
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/Card/index.less
  packages/taro-fast-component/src/customComponents/Countdown/index.less
  packages/taro-fast-component/src/customComponents/Divider/index.less
  packages/taro-fast-component/src/customComponents/Empty/index.less
  packages/taro-fast-component/src/customComponents/Flex/Col/index.less
  packages/taro-fast-component/src/customComponents/Flex/Row/index.less
  packages/taro-fast-component/src/customComponents/FloatAction/index.less
  packages/taro-fast-component/src/customComponents/Grid/index.less
  packages/taro-fast-component/src/customComponents/Icon/index.less
  packages/taro-fast-component/src/customComponents/ImageBox/index.less
  packages/taro-fast-component/src/customComponents/Item/index.less
  packages/taro-fast-component/src/customComponents/Loading/index.less
  packages/taro-fast-component/src/customComponents/Space/index.less
  packages/taro-fast-component/src/customComponents/Spin/index.less
  packages/taro-fast-component/src/customComponents/Stepper/index.less
  packages/taro-fast-component/src/customComponents/Steps/index.less
  packages/taro-fast-component/src/customComponents/Tag/index.less
  packages/taro-fast-component/src/customComponents/global.less
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/.eslintrc
  packages/simple-taro-fast-framework/.prettierignore
  packages/simple-taro-fast-framework/.stylelintrc.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/.eslintrc
  packages/taro-fast-common/.prettierignore
  packages/taro-fast-common/.stylelintrc.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/.eslintrc
  packages/taro-fast-component-extra/.prettierignore
  packages/taro-fast-component-extra/.stylelintrc.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component/.eslintrc
  packages/taro-fast-component/.prettierignore
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/.eslintrc
  packages/taro-fast-framework/.prettierignore
  packages/taro-fast-framework/.stylelintrc.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/.eslintrc
  packages/taro-fast-rollup/.prettierignore
  packages/taro-fast-rollup/.stylelintrc.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Circle/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Selector/index.less
  packages/taro-fast-component-extra/src/customComponents/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceSwitch/advanceSwitch.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.less
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/Card/index.less
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBoxSelector/index.jsx
  packages/taro-fast-component/src/customComponents/Copyright/index.jsx
  packages/taro-fast-component/src/customComponents/Countdown/index.less
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
  packages/taro-fast-component/src/customComponents/Divider/index.less
  packages/taro-fast-component/src/customComponents/FloatAction/index.less
  packages/taro-fast-component/src/customComponents/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/HelpBox/index.less
  packages/taro-fast-component/src/customComponents/Item/index.less
  packages/taro-fast-component/src/customComponents/NoticeBar/index.less
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.less
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/RadioSelector/index.jsx
  packages/taro-fast-component/src/customComponents/Spin/index.less
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/StepperItem/index.jsx
  packages/taro-fast-component/src/customComponents/Steps/index.less
  packages/taro-fast-component/src/customComponents/Tag/index.less
  packages/taro-fast-component/src/customComponents/global.less
  packages/taro-fast-component/src/customComponents/index.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HorizontalCenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/VerticalBox/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceSwitch/advanceSwitch.jsx
  packages/taro-fast-component/src/customComponents/Copyright/index.jsx
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.less
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/Tabs/index.less
  packages/taro-fast-component/src/customComponents/Tag/index.less
  packages/taro-fast-component/src/customComponents/global.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HorizontalCenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/VerticalBox/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/customComponents/Notification/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/src/customComponents/Circle/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Selector/index.less
  packages/taro-fast-component/.stylelintrc.json
  packages/taro-fast-component/src/customComponents/AdvanceProgressBox/advanceProgressBox.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.less
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/Card/index.less
  packages/taro-fast-component/src/customComponents/Copyright/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.less
  packages/taro-fast-component/src/customComponents/Grid/grid.jsx
  packages/taro-fast-component/src/customComponents/Grid/index.less
  packages/taro-fast-component/src/customComponents/HelpBox/index.jsx
  packages/taro-fast-component/src/customComponents/HelpBox/index.less
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
  packages/taro-fast-component/src/customComponents/global.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style: update
  packages/simple-taro-fast-framework/.stylelintrc.json
  packages/taro-fast-common/.stylelintrc.json
  packages/taro-fast-component-extra/.stylelintrc.json
  packages/taro-fast-framework/.stylelintrc.json
  packages/taro-fast-rollup/.stylelintrc.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/global.less
Due: stylelint, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component-extra/src/customComponents/global.less
  packages/taro-fast-component-extra/src/customComponents/index.jsx
  packages/taro-fast-component/src/customComponents/ActivityIndicator/index.less
  packages/taro-fast-component/src/customComponents/Avatar/index.less
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/Empty/index.less
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/ImageBox/index.less
  packages/taro-fast-component/src/customComponents/Loading/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.less
  packages/taro-fast-component/src/customComponents/Steps/index.less
  packages/taro-fast-component/src/customComponents/global.less
  packages/taro-fast-component/src/functionComponent/index.jsx
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Ellipsis/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/Button/button.less
  packages/taro-fast-component/src/customComponents/DataGrid/index.jsx
  packages/taro-fast-component/src/customComponents/FlexBox/index.jsx
  packages/taro-fast-component/src/customComponents/global.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-component/src/customComponents/Icon/config.js
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

perf(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/AdvanceProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Badge/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Button/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Card/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.jsx
  packages/taro-fast-component-extra/src/customComponents/Selector/selector.jsx
  packages/taro-fast-component/src/customComponents/CheckBoxSelector/index.jsx
  packages/taro-fast-component/src/customComponents/FloatAction/index.jsx
  packages/taro-fast-component/src/customComponents/Icon/icon.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Loading/index.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/more.jsx
  packages/taro-fast-component/src/customComponents/NoticeBar/noticeBar.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
  packages/taro-fast-component/src/customComponents/RadioSelector/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
  packages/taro-fast-component/src/customComponents/Tag/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/AdvanceInput/index.jsx
  packages/taro-fast-component/src/customComponents/SearchBar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write
