Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Footer/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/CapsulePrompt/index.jsx
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/models/index.js
  packages/simple-taro-fast-framework/src/models/weather.js
  packages/simple-taro-fast-framework/src/services/weather.js
  packages/simple-taro-fast-framework/src/template/pages/Entry/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Weather/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Weather/Main/index.less
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/template/pages/Weather/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Weather/Main/index.less
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/models/schedulingControl.js
  packages/taro-fast-framework/src/services/schedulingControl.js
  packages/taro-fast-framework/src/utils/globalStorageAssist.js
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
  packages/taro-fast-common/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/HeadNavigation/index.jsx
  packages/taro-fast-component/src/customComponents/BackboardBox/index.jsx
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/taro-fast-common/src/customComponents/global.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/customComponents/global.less
Due: stylelint, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/HeadNavigation/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/models/entrance.js
  packages/simple-taro-fast-framework/src/services/entrance.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/framework/pages/Home/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExecuteFlow/VerifySession/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExecuteFlow/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInConfig/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuildInState/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildEmptyPlaceholder/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildInitialActivityIndicator/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/CapsulePrompt/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Footer/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/BackTop/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/Basic/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/UpperBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/Basic/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/UpperBox/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/template/pages/Entry/Main/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/models/schedulingControl.js
  packages/taro-fast-framework/src/services/schedulingControl.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CssVariable/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write
