Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): add simulation location mode
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customComponents/PageWrapperCore/index.js
  packages/taro-fast-common/src/utils/constants.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/utils/defaultSettingsSpecial.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/taro-fast-framework/src/framework/AppBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

docs(simple-taro-fast-framework): update dependences
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/src/customComponents/PageWrapperCore/index.js
  packages/simple-taro-fast-framework/src/customComponents/PageWrapperRemote/index.js
  packages/simple-taro-fast-framework/src/example/pages/Cascader/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Interact/Assist/action.js
  packages/simple-taro-fast-framework/src/example/pages/Interact/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Switch/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SwitchItem/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/BuiltInEffect/BuildInitialActivityIndicator/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/CapsulePrompt/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Footer/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/FullAdministrativeDivisionSelector/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Normal/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/ComplexSample/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/LowerLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefresh/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/PullRefreshSpecial/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoad/index.jsx
  packages/simple-taro-fast-framework/src/framework/pages/PageExtend/Scroll/RemoteLoadSpecial/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Home2/Main/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Section/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/GridBanner/Main/index.js
  packages/simple-taro-fast-framework/src/template/pages/Register/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/SignIn/Main/index.jsx
  packages/simple-taro-fast-framework/src/template/pages/Weather/Main/index.jsx
  packages/simple-taro-fast-framework/src/templateRemote/pages/ExchangePhone/Main/index.jsx
  packages/simple-taro-fast-framework/src/templateRemote/pages/GetCustomer/Main/index.jsx
  packages/simple-taro-fast-framework/src/templateRemote/pages/Override/Main/index.jsx
  packages/simple-taro-fast-framework/src/templateRemote/pages/SignInSilent/Main/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): updatew
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-cli/CHANGELOG.md
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/NoticeBar/index.less
Due: stylelint, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/BackboardBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
  packages/taro-fast-component/src/customComponents/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Switch/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SwitchItem/index.jsx
  packages/simple-taro-fast-framework/src/news/pages/Entry/Main/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/Base/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Swiper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Swiper/SwiperIndicator/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/VariableView/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
