Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  packages/taro-fast-framework/es/index.d.ts
  packages/taro-fast-framework/es/index.js
  packages/taro-fast-framework/es/utils/constants.d.ts
  packages/taro-fast-framework/es/utils/mediaDefault.d.ts
  packages/taro-fast-framework/es/utils/mediaDefault.js
  packages/taro-fast-framework/es/utils/tools.d.ts
  packages/taro-fast-framework/es/utils/tools.js
  packages/taro-fast-framework/rollup.config.js
  packages/taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

docs(simple-taro-fast-framework): update
  packages/taro-fast-framework/es/utils/tools.d.ts
  packages/taro-fast-framework/es/utils/tools.js
  packages/taro-fast-framework/rollup.config.js
  packages/taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/pages/index/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  .gitignore
  packages/taro-test/es/index.d.ts
  packages/taro-test/es/index.js
  packages/taro-test/es/utils/mediaDefault.d.ts
  packages/taro-test/es/utils/mediaDefault.js
  packages/taro-test/es/utils/tools.d.ts
  packages/taro-test/es/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .gitignore
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/pages/index/index.jsx
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/rollup.config.js
  packages/taro-fast-framework/src/customComponents/Loading/index.jsx
  packages/taro-fast-framework/src/customComponents/Loading/index.less
  packages/taro-fast-framework/src/customComponents/VerticalBox/index.jsx
  packages/taro-fast-framework/src/customComponents/VerticalBox/index.less
  packages/taro-fast-framework/src/index.ts
  packages/taro-fast-framework/src/utils/tools.js
  packages/taro-test/.editorconfig
  packages/taro-test/.eslintrc
  packages/taro-test/.gitignore
  packages/taro-test/.ncurc.json
  packages/taro-test/babel.config.js
  packages/taro-test/jsconfig.json
  packages/taro-test/package.json
  packages/taro-test/project.config.json
  packages/taro-test/project.tt.json
  packages/taro-test/rollup.config.js
  packages/taro-test/src/index.ts
  packages/taro-test/src/utils/mediaDefault.js
  packages/taro-test/src/utils/tools.js
  packages/taro-test/tsconfig.json
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/index/index.jsx
  packages/taro-fast-framework/.fatherrc.js
  packages/taro-fast-framework/rollup.config.js
  packages/taro-fast-framework/src/customComponents/Loading/index.jsx
  packages/taro-fast-framework/src/customComponents/Loading/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/customComponents/VerticalBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/rollup.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/.eslintrc
  packages/simple-taro-fast-framework/.prettierrc
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/models/news.js
  packages/simple-taro-fast-framework/src/pages/index/index.jsx
  packages/taro-fast-framework/.eslintrc
  packages/taro-fast-framework/.prettierrc
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/rollup.config.js
  packages/taro-fast-framework/src/customComponents/AppComponent/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Common/index.js
  packages/taro-fast-framework/src/framework/ComponentWrapper/index.js
  packages/taro-fast-framework/src/framework/Core/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/framework/Supplement/index.js
  packages/taro-fast-framework/src/framework/SupplementCore/index.js
  packages/taro-fast-framework/src/framework/SupplementWrapper/index.js
  packages/taro-fast-framework/src/utils/actionAssist.js
  packages/taro-fast-framework/src/utils/dva.js
  packages/taro-fast-framework/src/utils/dvaAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/pages/index/index.jsx
  packages/simple-taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/project.config.json
  packages/taro-fast-framework/rollup.config.js
  packages/taro-fast-framework/src/customComponents/AppComponent/index.jsx
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Common/index.js
  packages/taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
  packages/taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  commitlint.config.js
  packages/simple-taro-fast-framework/config/index.js
  packages/simple-taro-fast-framework/config/prod.js
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.js
  packages/simple-taro-fast-framework/src/models/global.js
  packages/simple-taro-fast-framework/src/models/index.js
  packages/simple-taro-fast-framework/src/pages/index/index.jsx
  packages/simple-taro-fast-framework/src/services/global.js
  packages/simple-taro-fast-framework/src/utils/request.js
  packages/taro-fast-framework/config/index.js
  packages/taro-fast-framework/config/prod.js
  packages/taro-fast-framework/src/customComponents/AppComponent/index.jsx
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/utils/actionAssist.js
  packages/taro-fast-framework/src/utils/constants.js
  packages/taro-fast-framework/src/utils/requestAssistor.js
  packages/taro-fast-framework/src/utils/tips.js
  packages/taro-fast-framework/src/utils/tools.js
  packages/taro-fast-framework/src/utils/typeCheck.js
  packages/taro-fast-framework/src/utils/virtualRequest.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/index/index.jsx
  packages/taro-fast-framework/src/utils/constants.js
  packages/taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  .vscode/settings.json
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/models/news.js
  packages/simple-taro-fast-framework/src/pages/Home/Assist/action.js
  packages/simple-taro-fast-framework/src/pages/Home/Common/data.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.config.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.less
  packages/simple-taro-fast-framework/src/services/news.js
  packages/taro-fast-framework/rollup.config.js
  packages/taro-fast-framework/src/utils/actionAssist.js
  packages/taro-fast-framework/src/utils/constants.js
  packages/taro-fast-framework/src/utils/tips.js
  packages/taro-fast-framework/src/utils/tools.js
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/package.json
  packages/taro-fast-framework/rollup.config.compression.js
  packages/taro-fast-framework/rollup.config.noCompression.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/.browserslistrc
  packages/taro-fast-component/.editorconfig
  packages/taro-fast-component/.eslintrc
  packages/taro-fast-component/.gitignore
  packages/taro-fast-component/.ncurc.json
  packages/taro-fast-component/.prettierignore
  packages/taro-fast-component/.prettierrc
  packages/taro-fast-component/README.md
  packages/taro-fast-component/babel.config.js
  packages/taro-fast-component/config/dev.js
  packages/taro-fast-component/config/index.js
  packages/taro-fast-component/config/prod.js
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/package.json
  packages/taro-fast-component/rollup.config.compression.js
  packages/taro-fast-component/rollup.config.noCompression.js
  packages/taro-fast-component/src/index.ts
  packages/taro-fast-component/tsconfig.json
  packages/taro-fast-framework/.browserslistrc
  packages/taro-fast-framework/.fatherrc.js
  packages/taro-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/.eslintrc
  packages/simple-taro-fast-framework/package.json
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-component/.browserslistrc
  packages/taro-fast-component/.eslintrc
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/es/customComponents/Loading/index.d.ts
  packages/taro-fast-component/es/customComponents/Loading/index.js
  packages/taro-fast-component/es/customComponents/VerticalBox/index.d.ts
  packages/taro-fast-component/es/customComponents/VerticalBox/index.js
  packages/taro-fast-component/es/index.css
  packages/taro-fast-component/es/index.d.ts
  packages/taro-fast-component/es/index.js
  packages/taro-fast-component/es/jsx-runtime.js
  packages/taro-fast-component/package.json
  packages/taro-fast-component/src/customComponents/Loading/index.jsx
  packages/taro-fast-component/src/customComponents/Loading/index.less
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
  packages/taro-fast-component/tsconfig.json
  packages/taro-fast-framework/.browserslistrc
  packages/taro-fast-framework/.eslintrc
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/tsconfig.json
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/package.json
Due: prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/taro-fast-common/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/config/rollupConfig.js
  packages/taro-fast-common/package.json
  packages/taro-fast-common/rollupAssist/configBuilder.js
  packages/taro-fast-component/config/rollupConfig.js
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/config/rollupConfig.js
  packages/taro-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

v2.0.4
  packages/taro-fast-component/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): uupdate
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
  packages/simple-taro-fast-framework/src/pages/Home/Main/index.jsx
  packages/taro-fast-common/src/utils/tools.js
  packages/taro-fast-framework/src/framework/Base/index.js
  packages/taro-fast-framework/src/framework/Common/index.js
  packages/taro-fast-framework/src/framework/Infrastructure/index.js
  packages/taro-fast-framework/src/utils/actionAssist.js
  packages/taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-framework/src/utils/request.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/PageWrapper/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write
