Repository kityandhero/taro-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Color/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CssVariable/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Utils/index.jsx
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/CodeBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Icon/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Link/index.jsx
  packages/simple-taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/CodeBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/utils/tools.js
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ColorText/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ImageBox/index.jsx
  packages/simple-taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/customComponents/CodeBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Layout/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Loading/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Price/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tag/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Transition/index.jsx
  packages/simple-taro-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/app.config.js
  packages/simple-taro-fast-framework/src/customComponents/PropertyBox/index.jsx
  packages/simple-taro-fast-framework/src/customComponents/SimpleBox/index.jsx
  packages/simple-taro-fast-framework/src/customConfig/config.js
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Item/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/More/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/NoticeBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Notification/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Notification/index.jsx
  packages/taro-fast-component/src/customComponents/Badge/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Footer/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HelpBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Steps/index.jsx
  packages/simple-taro-fast-framework/src/utils/tools.js
  packages/taro-fast-component/src/customComponents/HelpBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/FlexBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/SearchBar/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Space/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabbar/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Divider/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Grid/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HorizontalCenterBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/HorizontalScrollBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Popup/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ScaleBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Swiper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ThumbnailBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/TranslucentBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/VerticalBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-common): update
  packages/simple-taro-fast-framework/src/example/pages/Overlay/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Tabs/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/InputItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Switch/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Switch/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/SwitchItem/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/SwitchItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/RadioSelector/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/RadioSelector/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/utils/tools.js
  packages/taro-fast-component-prism/src/customComponents/PrismCode/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Element/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/FloatAction/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Popup/index.jsx
  packages/taro-fast-component/src/customComponents/Popup/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/project.config.json
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/RadioSelector/index.jsx
  packages/taro-fast-component/src/customComponents/Radio/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CheckBoxSelector/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/CheckBoxSelector/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Circle/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Circle/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/Radio/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/CheckBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/CheckBoxSelector/index.jsx
  packages/taro-fast-component/src/customComponents/CheckBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Progress/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Progress/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ProgressBox/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ProgressItem/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/ProgressItem/index.jsx
  packages/taro-fast-component/src/customComponents/Progress/index.less
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/ProgressBox/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/ProgressItem/index.jsx
  packages/taro-fast-component/src/customComponents/ProgressBox/index.jsx
  packages/taro-fast-component/src/customComponents/ProgressItem/index.jsx
  packages/taro-fast-component/src/customComponents/VerticalBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): uypdate
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
  packages/simple-taro-fast-framework/src/example/pages/StepperItem/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/StepperItem/index.jsx
  packages/taro-fast-component/src/customComponents/Item/index.less
  packages/taro-fast-component/src/customComponents/Stepper/stepper.jsx
Due: stylelint, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.config.js
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.jsx
  packages/taro-fast-component/src/customComponents/TextAreaItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(taro-fast-common): update
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/TextAreaItem/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

style(simple-taro-fast-framework): update dependences
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/package.json
Due: prettier --write

chore(taro-fast-framework): version
  packages/simple-taro-fast-framework/CHANGELOG.md
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-common/CHANGELOG.md
  packages/taro-fast-common/package.json
  packages/taro-fast-component-extra/CHANGELOG.md
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/CHANGELOG.md
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/CHANGELOG.md
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/CHANGELOG.md
  packages/taro-fast-framework/package.json
  packages/taro-fast-rollup/CHANGELOG.md
  packages/taro-fast-rollup/package.json
Due: prettier --write

refactor(simple-taro-fast-framework): update
  packages/simple-taro-fast-framework/src/example/pages/Stepper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-cli/README.md
  packages/taro-fast-cli/bin/cli-init.js
  packages/taro-fast-cli/bin/cli.js
  packages/taro-fast-cli/lib/taro-fast-cli.js
  packages/taro-fast-cli/package-lock.json
  packages/taro-fast-cli/package.json
  packages/taro-fast-cli/src/init.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(simple-taro-fast-framework): update
  packages/taro-fast-common/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

v1.0.16
  packages/taro-fast-common/package.json
Due: prettier --write

v2.0.17
  packages/taro-fast-component/package.json
Due: prettier --write

v1.0.17
  packages/taro-fast-framework/package.json
Due: prettier --write

style(simple-taro-fast-framework): i[date
  .gitignore
  package.json
  packages/simple-taro-fast-framework/package.json
  packages/taro-fast-component-extra/package.json
  packages/taro-fast-component-prism/package.json
  packages/taro-fast-component/package.json
  packages/taro-fast-framework/package.json
Due: prettier --write
